@font-face {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'), url(../fonts/e3tmeuGtX-Co5MNzeAOqinEQfEnS.ttf) format('truetype');
}
