@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
