@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../fonts/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
