@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(../fonts/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
