
/* ==========================================================================
   Header
   ========================================================================== */

.header-install {
  display: table;
  position: relative;
  background: linear-gradient(
      rgba(34,34,34,0.7), 
      rgba(34,34,34,0.7)
    ), url('../images/cover_1.png') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  color:#fff;
}
.text-vertical-center {
    color:#fff;
}

/* ==========================================================================
   Login Page Styles (login.html, register.html)
   ========================================================================== */ 

/* ------------------------------------------------------------------- */
/* Header Section 
---------------------------------------------------------------------- */   

.top-page{

    background: url('../images/2_1.jpg');
  color: #fff;
  height: 30vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  	
}

.header-login .content {
  margin-top: 10px;
}

.header-login h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-login p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-login h1 {
	  font-size: 22px;
	}
	.header-login p {
     font-size: 14px;
    }
}

/* ------------------------------------------------------------------- */
/* Banner Section
---------------------------------------------------------------------- */    
.banner-login {
  width: 100%;
  background: #036c70;
} 

/* ==========================================================================
	#Form Sign Up
========================================================================== */
.main-signup { 
  padding-top: 20px; 
  padding-bottom: 60px; 
}

.form-sign .form-head { 
  text-align: center; 
}

.form-sign .form-head h3 { 
  display: inline-block; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
}

.form-sign .form-body { 
  padding-top: 29px; 
}

.form-sign .field { 
  width: 100%; 
  height: 57px; 
  padding: 10px 23px 10px 31px; 
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1; 
  color: #868585;
  border: 0; 
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-sign ::-webkit-input-placeholder { 
  /* WebKit browsers */
  color: #899797;
}

.form-sign :-moz-placeholder { 
  /* Mozilla Firefox 4 to 18 */
  color: #899797;
  opacity:  1;
} 

.form-sign ::-moz-placeholder { 
  /* Mozilla Firefox 19+ */
  color: #899797;
  opacity:  1;
}

.form-sign :-ms-input-placeholder { 
  /* Internet Explorer 10+ */
  color: #899797;
}

.form-sign .form-row { 
  position: relative; 
  padding-bottom: 10px; 
}

.form-sign .form-foot { 
  padding-top: 30px; 
}

.form-btn { 
  width: 100%; 
  height: 57px; 
  border: 0; 
  border-radius: 29px; 
  background: #FFFFFF !important; 
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px; 
  color: #899797; 
  text-transform: uppercase; 
  letter-spacing: 0.15em; 
  cursor: pointer; 
}

.form-btn:hover { 
  background: #FFFFFF; 
}

.form-sign .form-foot a.more-link { 
  display: inline-block; 
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px; 
  color: #fff; 
  margin: 35px 0 0; 
}

.form-sign .form-foot a.more-link:hover { 
  text-decoration: none; 
}

.form-sign .checkbox {
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: left;
}
.form-sign .checkbox label {
 margin-bottom: 0;
 font-family: 'Abhaya Libre', serif;
 color: #fff !important;	
 font-size: 18px !important;
}
.form-sign .checkbox label a{
 color: #00C4CF !important;	
}

/*Material Switch*/
.material-switch{
  padding: 10px 0 20px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
	left: -2px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 60px;
}
.material-switch > label::after {
    background: #00C4CF !important;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 40px;
}

.material-switch span{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  left: 25px;
  color: #fff;
}

.list-group li.list-group-item .material-switch span{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #1A1A1A !important;
}

.list-group li.list-group-item .material-switch span.pull-right{
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  left: -10px;
  color: #1A1A1A !important;
}

.material-switch > .label-success-mint{
  background: #00C4CF !important;
}


/* code for animated blinking cursor */
.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}