/* ==========================================================================
   TheMashaBrand - Themeforest.net & Codecanyon.net sold at a discount
   ========================================================================== */
/*
* Author Name: TheMashaBrand
* Author URI: http://themeforest.net/user/themashabrand
* Website: http://www.themashabrand.com
  
/* ------------------------------------------------------------------- */
/* Import Section
---------------------------------------------------------------------- */
@import url("base_1.css");				/* Default Reset, Typography, Forms, etc. */
@import url("bootstrap.min_1.css");			/* Bootstrap 3.3.7 */
@import url("font-awesome.min_1.css");		/* Font-awesome 4.5.0 */
@import url("css.css");
@import url("css_5.css");
@import url("css_1.css");
@import url("css_2.css");
@import url("css_6.css");

/* ------------------------------------------------------------------- */
/* Navbar Section
---------------------------------------------------------------------- */
.navbar.navbar-default {
  padding: 25px 0px;	
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  z-index: 1030;
}
.navbar-brand {

  font-family: 'Pacifico', cursive;
  font-size: 32px;
  line-height: 1.1;
  position: relative;
  top: -10px;
  
    color: #f54d70;
    background: -webkit-linear-gradient(-45deg, #f52587 0%, #f8b538 100%);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
}
a.navbar-brand:hover {
}
.navbar-brand img{
  float: left;
  margin-right: 6px;
  width: 25px;
  height: 25px;
  position: relative;
  top: -4px;
}
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.tr-dropdown-menu li a:hover {
    color: #00C4CF;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}
.navbar-default .navbar-nav li a{
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    color: #858686;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 2px;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
.navbar-default .navbar-nav li a:hover{
    color: #00C4CF !important;
}
.navbar-default .navbar-nav li i{
    padding: 15px 2px;
    color: #858686;
    font-size: 14px;
    line-height: 25px;
}
.navbar-default .navbar-right .kafe-btn{
    font-family: 'Abhaya Libre', serif;
	font-size: 14px;
    text-transform: uppercase;
    margin: 12px 2px;
}
.down-header.navbar-default .navbar-nav > li > a{
	float: center;
}

.navbar-right {
    display: inline;
    margin-right: 35px;
}
.navbar-right li {
    display: inline-block;
}

.navbar-right .message-icon {
  position: relative;
  top: 14px !important;
  padding-right: 20px;
}
.navbar-right .message-icon a{
  color: #00c4cf;
}
.navbar-right .message-icon i{
  font-size: 18px;
  padding-right: 0px !important;
}
.navbar-right .message-icon .nav-notification {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
	position: relative;
	top: -14px;
	left: -4px;
    font-size: 9px;
}
/* ==========================================================================
   Dropdown Menu
   ========================================================================== */

.avatar {
	width: 32px;
	height: 32px;
	text-align: center;
}

.w {
  width: 200px;
  position: absolute;
  top: 118% !important;
}	
.w a{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px !important;
}   

.dropdown-menu::before {
    position: absolute;
	color: #fff;
    top: -8px;
    right: 16px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e1e6ef;
    border-left: 8px solid transparent;
    content: '';
}
.dropdown-menu.pull-right {
  left: auto;
  right: 0;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.mega-avatar > li.dropdown-menu{
  left: 0;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 2rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-size: 40px !important;
  font-weight: 400;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.dropdown-item:hover{
  background: #eee;
}
@media(max-width:768px) {
	.navbar-brand {
		font-size: 18px;
	}	
	.navbar-default .navbar-nav>li>a {
		padding: 10px 10px;
		line-height: 4px;
	}
	.navbar-right {
	    padding: 4px 0;
		margin-right: 0;
	}
	.navbar-default .navbar-nav li i{
		padding-top: 4px;
		padding-left: 20px;
		padding-right: 0px !important;
		line-height: 4px;
	}	
	.navbar-default .navbar-right .navbar-nav {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}	
	.navbar-default .navbar-right li a {
		padding-top: 4px !important;
		padding-right: 20px !important;
		padding-bottom: 0px !important;
		line-height: 4px;
	}
	.navbar-right .kafe-btn {
		margin: 2px 20px;
	}
	
	.dropdown-menu.pull-right {
	  position: relative;
	  left: 20px !important;
	}	
	.navbar-default .navbar-right li a.dropdown-item {
	  display: block;
	  width: 100%;
	  padding-top: 13px !important;
	  padding-right: 0px !important;
	  padding-bottom: 13px !important;
	  padding-left: 10px !important;
	  clear: both;
	  font-weight: 400;
	  color: #373a3c;
	}
	.navbar-default .navbar-right li a.dropdown-item:hover{
	  background: #eee;
	}
}




/* ------------------------------------------------------------------- */
/* Banner Section
---------------------------------------------------------------------- */
.banner {
  background: linear-gradient( rgba(34,34,34,0.5), rgba(34,34,34,0.5) ), url('../images/slide-4.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 65vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; 
}
.banner .banner-content h1 {
 font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  

    color: #f54d70;
    background: -webkit-linear-gradient(-45deg, #f52587 0%, #f8b538 100%);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);  
}
.banner .banner-content .banner-box {
 position: relative;
 margin: auto;
 width: 100%;
 text-align: center;
 max-width: 700px;
 margin-top: 40px !important;
}
.banner .banner-content h2 {
 font-family: "Poppins", sans-serif;
 font-size: 25px;
 margin-bottom: 40px;
 text-align: center;
}

@media(max-width:768px) {
	.banner {
	  height: 65vh;
	}
	.banner .banner-content h1{ 
	  font-size: 34px;
	}
	.banner .banner-content h2 {
	  font-size: 18px;
	}	
}

/* ------------------------------------------------------------------- */
/* Snippet Box
---------------------------------------------------------------------- */
.snippets{
	padding: 5em 0;
	text-align: center;
	background: #f4f4f4;
}

.snippet-box {
    position: relative;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
    border: solid 0.35em #fff;
    cursor: default;
 box-shadow: 0 2px 12px rgba(0,0,0,.12);
 overflow: hidden;
}
.snippet-box:hover{
 box-shadow: 14px -14px 30px -12px rgba(0,0,0,.42),0 11px 20px 0 rgba(0,0,0,.12),0 18px 10px -5px rgba(0,0,0,.2);
}
.snippet-box header {
 padding: 20px 15px;
 margin: 0px;
}
.snippet-box header h3 {
 font-family: "Poppins", sans-serif;	
 color: #7a7b7c !important;
 font-size: 18px;
 line-height: 1;
 font-weight: 400;
}

.snippet-box .image {
width: 100%;
display: block;
overflow: hidden;
position: relative;
outline: 0;
background: #ddd;
background-color: rgb(221, 221, 221);
}
.snippet-box .image::before {
    content: '';
    display: block;
    padding-top: 75%;
}
.snippet-box .image::after {
    content: '';
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.15);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.snippet-box .image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    box-shadow: 0 5px 0 0 #fff;
	width: 100%;
    height: 100%;
}
.snippet-box footer {
 background: #fff;
 padding: 10px 10px;
}
.snippet-box footer .icons-section .col-lg-4{
 margin-bottom: 5px;
}


.snippet-box footer .icons-section{
 padding: 10px !important;
}
.snippet-box footer .icons-section h4{
 font-family: "Poppins", sans-serif;	
 font-size: 14px;
 line-height: 1;
 color: #848484;
}
.snippet-box footer .icons-section h4 i.fa-download,
.snippet-box footer .icons-section h4 i.fa-external-link{
 color: #00C4CF;
}
.snippet-box footer .icons-section h4 i.fa-heart{
 color: #f16059;
}
.snippet-box footer .icons-section h4 i.fa-eye{
 color: #f9bc90;
}
.trans-04 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.txt-left {text-align: left;}


.snippet-box footer .icons-section .snippet-date {
    width: 50px;
    height: 50px;
    border-radius: 0%;
    font-size: 14px !important;
    font-weight: 700;
    position: absolute;
    top: 95%;
    left: 95%;
    transform: translate3d(-70%, -50%, 0);
    transition: transform .4s;
        transition-delay: 0s;
    transition-delay: 0.25s;
	
 background-image: -webkit-linear-gradient(315deg, #f52587 0%, #f8b538 100%);
background-image: -moz- oldlinear-gradient(315deg, #f52587 0%, #f8b538 100%);
background-image: -o-linear-gradient(315deg, #f52587 0%, #f8b538 100%);
background-image: linear-gradient(135deg, #f52587 0%, #f8b538 100%);
	color: #fff;
}
.snippet-box footer .icons-section .snippet-date > span {
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin: 14px 16px;
    line-height: 1.2;
 font-family: "Poppins", sans-serif;
 font-size: 12px;
}

/* ------------------------------------------------------------------- */
/* Snippet Section
---------------------------------------------------------------------- */
.snippet-header{
 background-color: #fff;
 padding: 40px 0px; 
}
.snippet-header .snippet-user{
 float: left;
 width: 80px;
 height: 80px;
 margin-right: 20px;
 margin-bottom: 15px;
 border: 10px solid transparent;
 box-shadow: 5px 3px 0 rgba(234, 76, 137, 0.7);
}
.snippet-header h3{
 line-height: 1;
}
.snippet-header h3{
 font-family: 'Rokkitt', serif;
 font-size: 25px;
 font-weight: 700;
 padding-top: 10px !important;
 padding-bottom: 0px !important;
 margin: 0px !important;
 
     color: #f54d70;
    background: -webkit-linear-gradient(-45deg, #f52587 0%, #f8b538 100%);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
}
.snippet-header h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 1.8;
}
.snippet-header .snippet-img-box{
 margin-top: 10px !important;
}
.snippet-header .kafe-btn{
 margin-top: 10px !important;
}
.snippet-header .snippet-img{
 max-width: 100%;
 width: 100%;
 height: 100%;
 text-align: center;
}


/* ------------------------------------------------------------------- */
/* Snippet Comments
---------------------------------------------------------------------- */

.snippets .user-message-box {
 float: left;
 width: 100%;
 padding: 0px !important;
}
.snippets .user-message-box li.active {
 background-color: #efefef;
}
.snippets .user-message-box li {
 float: left;
 width: 100%;
 padding: 30px 10px 30px 20px;
 border-bottom: 1px solid #ddd;
 cursor: pointer;
}
.snippets .user-message-box li:last-child {
 border-bottom: none;
}


.user-message-details {
 float: left;
 width: 100%;
 display: flex;
}
.user-message-img {
 float: left;
 width: 60px;
 height: 60px;
 margin-right: 20px;
}
.user-message img {
 width: 100%;
}
.user-online {
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 background-color: #0fc19e;
 position: absolute;
 top: -3px;
 right: 0;
 width: 6px;
 height: 6px;
}
.user-message-info {
 flex: 1;
 float: left !important;
 text-align: left !important;
}
.user-message-info h4 {
 font-family: "Poppins", sans-serif;	
 color: #88898a;
 font-size: 18px;
 font-weight: 700;
 line-height: 1;
}
.user-message-info p {
 font-family: 'Abhaya Libre', serif;	
 color: #848484;
 font-size: 14px;
 padding-bottom: 0px !important;
 margin-top: 5px !important;
 margin-bottom: 5px !important;
}
.user-message-info span {
 font-family: 'Abhaya Libre', serif;
 color: #aaa;
 font-size: 13px;
 line-height: 0;
}
.message-notification {
 position: absolute;
 top: 2px;
 right: 0;
 width: 25px;
 height: 25px;
 
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 
 background-color: #0fc19e;
 text-align: center;
 line-height: 25px;
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #fff;
}


.snippet-stats {
 position: relative;
 color: #999;
 padding: 20px;
 margin-top: 40px;
 box-shadow: 0 2px 12px rgba(0,0,0,.12);
}
.snippet-views {
 font-family: "Poppins", sans-serif;	
 font-size: 18px;
 color: #999;
 text-align: left;
}
.snippet-views i{
 margin-right: 10px;
}
.shot-views {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
}
div.screenshot-stats > div {
    padding-left: 30px;
    margin-bottom: 15px;
    position: relative;
}

div.screenshot-stats svg {
    height: 16px;
    width: 16px;
    opacity: 0.4;
}
div.screenshot-stats > div > svg {
    position: absolute;
    left: 0;
}


.widget{
margin-top: 30px;
}
.widget-title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
        margin-bottom: 0px;
    line-height: 19px;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 27px;
    display: block;

}
.widget-title::after {
    content: "";
    width: 33%;
    border-top: 3px solid #f54d70;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px;
}
.widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.widget ul li {
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.widget li figure {
    width: 110px;
    height: 98px;
    overflow: hidden;
    float: left;
    margin: 0;
}
.widget img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    border: none;
    outline: none;
    height: auto;
}
.widget li section {
    float: right;
    width: 100%;
    max-width: 62%;
}
.widget li section h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #1b1b1b;
    margin: 0;
    font-weight: 600;

}
.widget li section h4 a{
    color: #848484;
}

/* ------------------------------------------------------------------- */
/* Change Section
---------------------------------------------------------------------- */
.change {
  background: linear-gradient( rgba(34,34,34,0.5), rgba(34,34,34,0.5) ), url('../images/slide-4.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 40vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; 
}
.change h1 {
 font-family: "Poppins", sans-serif;
 font-size: 40px;
 color: #fff;
 text-align: center;
}
@media(max-width:768px) {
	.change {
	  height: 60vh;
	}
	.change h1{ 
	  font-size: 24px;
	}
}


.change-bg{
	padding: 5em 0;
	text-align: left;
	background: #fff;
}
.change-bg h2 {
font-family: 'Poppins', sans-serif;
font-size: 25px;
line-height: 20px;
color: #848484;
margin-top: 40px;
margin-bottom: 10px;
font-weight: 700;
}
.change-bg p {
font-family: 'Poppins', sans-serif;
font-size: 18px;
line-height: 20px;
color: #848484;
margin-bottom: 10px;
}




/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */
.tr-banner {
}
.banner-content h1 {
  font-family: 'Abhaya Libre', serif;
  font-size: 45px;
  font-weight: 700;
  margin-top: -20px;
}
.banner-content .banner-box {
 position: relative;
 margin: auto;
 width: 100%;
 text-align: center;
 max-width: 670px;
}
.banner-content h2 {
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 margin-bottom: 40px;
 text-align: center;
}
.banner-content h2 .banner-bold{
 font-family: 'Abhaya Libre', serif;
 font-size: 22px;
 font-weight: 700;
 color: #00C4CF !important;
}

.search {
 position: relative;
 margin: auto;
 max-width: 670px;
 width: 100%;
 margin-bottom: 30px;
}
.search input[type="text"] {
 background-color: #fff;
 line-height: 30px;
 padding: 15px 60px 15px 30px;
 border: none;
 border-radius: 4px;
 width: 100%;
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #8d8d8d;
 height: inherit;
 font-weight: 700;
}
.search button {
 position: absolute;
 right: 0;
 top: 0;
 border: none;
 background-color: transparent;
 color: #bbbbbb;
 padding: 15px 25px;
 cursor: pointer;
}
.search button i {
 font-size: 24px;
 line-height: 30px;
 display: block;
}

.buttons {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.buttons a {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 font-weight: 400;
 color: #00C4CF !important;
 line-height: 26px;
 border-radius: 4px;
 padding: 15px;
 width: 220px;
 border: none;
 background-color: #ffffff;
 margin: 10px 12px 0;
 box-shadow: 0 4px 12px rgba(141, 198, 66, 0.18);
 text-align: center;
}

@media(max-width:768px) {
	.tr-banner {
	  height: 620px;
	}
	.banner-content h1{ 
	  font-size: 34px;
	}
	.banner-content h2 {
	  font-size: 18px;
	}	
}

/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */
#home-hero {
}
#home-hero .home-hero-text {
  padding-top: 30px;
}
#home-hero .hero-message {
  font-family: 'Abhaya Libre', serif;	
  font-weight: 400;
  letter-spacing: -1.3px;
  font-size: 30px;
  line-height: 1.15;
  margin-bottom: 25px;
  color: #fff;
}
#home-hero h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}
#home-hero ul {
  text-decoration: none;
}
#home-hero ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}
#home-hero ul li a {
  text-decoration: none;
}
#home-hero .btn-large {
  margin-top: 20px;
}
#home-hero .home-hero-thumb {
  margin-bottom: 0px;
}
#home-hero .hero-thumb {
  position: relative;
}
#home-hero .hero-thumb .hero-thumb1 {
  position: relative;
  z-index: 30;
}
#home-hero .hero-thumb img {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
#home-hero .hero-thumb .hero-thumb2 {
  position: absolute;
  top: 50px;
  right: 80px;
  z-index: 10;
}
@media(max-width:768px) {
	#home-hero .home-hero-text {
	  padding-top: 10px;
	}	
	#home-hero .home-hero-thumb {
	  margin-top: 30px;
	}	
}

.box-br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    z-index: 2;
    margin-top: 40px;
}
.box-br .box-users-likes {
}
.box-users-likes .list-users > li {
    position: relative;
    float: left;
    margin-right: 6px;
    list-style: none;
}
.box-users-likes img {
    float: left;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ---------- Buyers on products List ---------- */
.box-web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    z-index: 2;
    padding: 25px 30px 10px 30px;
}
.box-web .box-users-likes-web {
    margin-left: 15px;
}
.box-web .box-users-likes-web .list-users{
    padding-top: 6px;
}
.box-web .box-users-likes-web .list-users > li {
    position: relative;
    float: left;
    margin-right: 6px;
    list-style: none;
}
.box-web .box-users-likes-web img {
    float: center;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-web .box-users-likes-web h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 8px;
}

@media (max-width: 768px) {
	.box-web {
		padding: 25px 0px 10px 0px !important;
	}
	.box-web .box-users-likes-web img {
		float: left !important;
	}
	.box-web .box-users-likes-web .list-users > li {
		position: relative;
		float: left !important;
		margin-right: 6px;
	}	
}

/* ------------------------------------------------------------------- */
/* Featured Section
---------------------------------------------------------------------- */
.featured{
 padding: 40px 0px;	
}
.latest{
 padding: 40px 0px;	
 background: #f4f4f4;
}
.list-item {
 background: #fff;
 margin-bottom: 40px;
 position: relative;
 box-shadow: 0 1px 2px rgba(0,0,0,0.1);
 transition: box-shadow 300ms;
}
.list-item:hover {
 box-shadow: 14px -14px 30px -12px rgba(0,0,0,.42),0 11px 20px 0 rgba(0,0,0,.12),0 18px 10px -5px rgba(0,0,0,.2);
}
.list-item .item-thumbnail {
 position: relative;
 z-index: 1;
 display: block;
 overflow: hidden;
 text-align: center;
 padding: 0;
 margin: 0;
}
.list-item .item-thumbnail .image {
 width: 100%;
 display: block;
 overflow: hidden;
 position: relative;
 outline: 0;
 background: #ddd;
 background-color: rgb(221, 221, 221);
}
.list-item .item-thumbnail .image::before {
 content: '';
 display: block;
 padding-top: 0%;
}
.list-item .item-thumbnail .image::after {
 content: '';
 box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.15);
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: transparent;
}
.list-item .item-thumbnail img {
 width: 100%;
 height: 260px;
 position: relative;
 display: block;
}
.list-item .item-thumbnail .item-badges {
 position: absolute;
 top: 15px;
 right: 15px;
}
.list-item .item-thumbnail .item-badges .item-badge {
 display: block;
 float: left;
 background: #00C4CF;
 font-family: 'Abhaya Libre', serif;	
 color: #fff;
 font-size: 12px;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 1px;
 line-height: 1;
 padding: 5px 8px;
 border-radius: 3px;
}
.list-item .item-header {
 padding: 20px 20px 18px;
}
.list-item h3 {
 font-family: 'Abhaya Libre', serif;
 display: block;
 font-size: 16px;
 line-height: 1.2;
 font-weight: 500;
 margin: 0;
}
.list-item h3 a {
 color: #333;
 text-decoration: none;
}
.list-item .item-author-category {
 font-family: 'Abhaya Libre', serif;	
 font-size: 14px;
 font-weight: 300;
 color: #808080;
}
.list-item .item-author-category a {
 color: #00C4CF;
 font-weight: 700;
}
.list-item .item-price {
 font-family: 'Abhaya Libre', serif;	
 font-size: 14px;
 font-weight: 300;
 color: #808080;
}
.list-item .item-price .item-cost{	
 font-family: 'Montserrat', sans-serif;
 font-size: 22px;
 font-weight: 700;
 color: #00C4CF;
 letter-spacing: 1px;
}
.list-item .item-price .item-cost strike{	
 font-family: 'Montserrat', sans-serif;
 font-size: 14px;
margin-left: 10px;
color: #ff6c6c;
}
.list-item .item-price a{	
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight: 700;
 color: #00C4CF;
 letter-spacing: 1px;
}

	

.h-100 {
    height: 100% !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.list-item .item-meta .meta-download-count {
 font-family: 'Abhaya Libre', serif; 	
 font-size: 13px;
 line-height: 1;
 font-weight: 500;
 border-radius: 3px;
 padding: 9px 15px;
}
.m-download{
 border: 1px solid #00C4CF;
 color: #88898a;
}
.m-download span{
 color: #00C4CF;
}
.m-love{
 border: 1px solid #00C4CF;
 color: #88898a;
}
.m-love span{
 color: #f16059;
}
.m-view{
 border: 1px solid #00C4CF;
 color: #88898a;
}
.m-view span{
 color: #f9bc90;
}
.align-self-end {
-ms-flex-item-align: end !important;
align-self: flex-end !important;
}
.d-inline-block {
display: inline-block !important;
}
.ml-2 {
margin-left: .5rem !important;
}

@media(max-width:768px) {
	.list-item .item-thumbnail img {
		width: 100%;
		height: inherit;
	}	
}

/* ------------------------------------------------------------------- */
/* Pagination - User List Page
---------------------------------------------------------------------- */	
.paginationCommon.blogPagination {
    margin-bottom: 5px;
    margin-top: 15px;
}
.paginationCommon.blogPagination nav {
    margin: 0;
    border: none;
}
.paginationCommon.blogPagination nav .pagination {
    margin: 0;
}
.paginationCommon .pagination li {
    float: left;
    margin: 25px 5px 5px 0;
}
ul li {
    list-style-type: none;
}
.paginationCommon .pagination li:first-child a {
    border-radius: 0;
}
.paginationCommon .pagination li a {
    border-color: #e5e5e5;
    float: none;
    color: #222222;
    font-weight: 400;
    padding-top: 10px;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
    font-size: 12px;
}
.paginationCommon .pagination li a:hover,  {
    color: #fff;
    background-color: #00C4CF !important;
    border-color: #00C4CF !important;
}

.paginationCommon .pagination li a span {
    font-size: 17px;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #00C4CF !important;
    border-color: #00C4CF !important;
}
@media(max-width:992px) {	
	.paginationCommon.blogPagination {
		margin-top: 0;
	}
}
@media(max-width:768px) {	
	.paginationCommon.blogPagination {
		margin-bottom: 0;
		margin-top: 15px;
	}
	.paginationCommon nav {
		margin: 0 0 70px 30px;
	}
	.paginationCommon .pagination li {
		margin: 0 10px 0 0;
	}	
	.paginationCommon .pagination li a {
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
	}	
	.paginationCommon .pagination li:first-child a {
		margin-left: 20px;
	}
	.paginationCommon .pagination li:second-last a {
		margin-left: 20px;
	}
}


/* ------------------------------------------------------------------- */
/* Stats Section
---------------------------------------------------------------------- */
.stats{
 padding: 40px 0px;	
}
.single-stat h2 {
 font-family: "Poppins", sans-serif;	
 font-size: 32px;
 line-height: 30px;
 font-weight: 300;
 color: #88898a;
 margin-bottom: 7px;
}
.single-stat h4 {
 font-family: "Poppins", sans-serif;	
 font-size: 20px;
 line-height: 24px;
 font-weight: 300;
 color: #454545;
 margin: 0;
}

/* ------------------------------------------------------------------- */
/* Footer Section
---------------------------------------------------------------------- */
.site-footer {
 padding: 65px 0px !important;
 background: #f4f4f4;
}
.site-footer p{
 font-family: "Poppins", sans-serif;	
 font-size: 20px;
 color: #828ea0;
}

.end-footer {
margin: 0 auto;
max-width: 1000px;
width: 100%;
border-top: 1px solid #e6ebee;
padding: 30px 0px;
}
.end-footer p{
 font-family: "Poppins", sans-serif;	
 font-size: 15px;
 color: #828ea0;
}

#scrollup {
  background: url("../images/arrowup_1.png") no-repeat 0px 0px;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  cursor: pointer;
}


/* ==========================================================================
   Product Page
   ========================================================================== */
/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */
.product {

}
.product h1 {
 font-family: "Poppins", sans-serif;
 font-size: 40px;
 color: #fff;
 text-align: center;
}
.product h2 {
 font-family: "Poppins", sans-serif;
 font-size: 24px;
 color: #fff;
 text-align: center;
}
.product h3 {
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #fff;
 text-align: center;
}
@media(max-width:768px) {	
	.product h1 {
	 font-size: 18px;
	}
	.product h2 {
	 font-size: 16px;
	}
}  

/* ------------------------------------------------------------------- */
/* Product Post Section
---------------------------------------------------------------------- */
.single-product-desc {
    padding: 70px 0;
	background: #f4f4f4;
}
.item-preview, .sidebar-card {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ebedf2;
    margin-bottom: 30px;
}
.item-preview .item-image-bound{
  padding: 0px;
}
.item-preview img {
  width: 100%;
}
.item-preview .item__preview-thumb {
    padding: 30px;
}
.item-preview .item-action.border-none {
    padding-top: 0;
}
.item-preview .item-action {
    padding-top: 30px;
    text-align: center;
}
.item-preview .item-activity {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ebedf2;
}
.item-preview .item-activity .activity-single {
    padding: 10px 0;
    border: 3px solid #ebedf2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.item-preview .item-activity .activity-single p {
	font-family: 'Abhaya Libre', serif;
    font-size: 15px;
    font-weight: 300px;
    margin: 0;
}
.item-preview .item-activity .activity-single p span {
    color: #00C4CF;
    margin-right: 8px;
}
.item-preview .item-activity .activity-single p:last-child {
	font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    color: #363940;
    font-size: 18px;
    margin-top: 5px;
}
.item-preview .item-activity .activity-single ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.item-preview .item-activity .activity-single ul li:first-child {
    margin-right: 7px;
    color: #ffb822;
}
.item-preview .item-activity .activity-single ul li {
    color: #898b96;
}

.item-info {
    border: 1px solid #ebedf2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}

/*----------------------------------- */
/* Navbar Tabs
------------------------------------- */
ul.nav-tabs {
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-bottom: 1px solid #ebedf2;
}
ul.nav-tabs li a.active {
	font-family: 'Abhaya Libre', serif;
    color: #FA5050 !important;
    border-bottom: 0;
}
ul.nav-tabs li a,
ul.nav-tabs li span {
	font-family: 'Abhaya Libre', serif;
    color: #898b96;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    margin-right: 0;
    line-height: 70px;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    text-align: center;
    font-weight: 300;
}

/*----------------------------------- */
/* Tab Content
------------------------------------- */
.item-info .tab-content {
    margin-top: 20px;
}
.tab-content {
    margin-bottom: 0;
}
.item-info .tab-content-wrapper {
    padding: 5px 30px 30px 30px;
}

/*----------------------------------- */
/* Product Details
------------------------------------- */

#product-details{
 text-align: left;
 margin-bottom: 40px;
}
#product-details h2 {
 font-family: "Poppins", sans-serif;
 font-size: 19px;
 line-height: 8px;
 padding-bottom: 18px;
 font-weight: 400;
 color: #898b96;
}
#product-details h2 + p, #product-details p:last-child {
 margin-bottom: 22px;
}
#product-details p {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 line-height: 30px;
 color: #898b96;
 font-weight: 300;
}
#product-details ul {
 padding-left: 20px;
 padding-bottom: 5px;
}
#product-details ul li {
 position: relative;
 padding-left: 20px;
 color: #898b96;
 font-weight: 300;
}
#product-details li {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 line-height: 34px;
}
#product-details ul li::before {
 position: absolute;
 content: "";
 width: 6px;
 height: 6px;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 left: 0;
 top: 13px;
 background: #b8bece;
}
#product-details ol {
 padding-left: 20px;
 padding-bottom: 15px;
}
#product-details ol li {
 list-style: decimal;
 color: #898b96;
 font-weight: 300;
}
#product-details li {
 font-size: 16px;
 line-height: 34px;
}
#product-details img {
 width: 100%;
 max-width: 100%;
 margin-bottom: 0px; 
 padding-bottom: 0px;
}

/*----------------------------------- */
/* Comments Section
------------------------------------- */
ul {
    padding: 0;
    margin: 0;
}
.single-thread .small-hr {
  margin:8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}
.single-thread{
  padding: 10px 0 0px 0;
  border-top: 4px solid #e0e0e0;
}
.single-thread .top-sec {
  padding-top: 15px;
}

.jobpost .col-lg-8.white .job .top-sec .col-lg-10,
.col-lg-8.white-2 .job .top-sec .col-lg-10{
  position: relative;
  left: -50px;
}
.single-thread .top-sec .col-lg-10{
  position: relative;
  left: -40px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.single-thread .top-sec img {
  width: 60px;
  height:60px;
  border-radius: 3px;
  
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.single-thread .top-sec img:hover,
.single-thread .top-sec img:focus {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.single-thread .top-sec h4 a{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #2c3e50;
  letter-spacing: 1px;
}
.single-thread .top-sec h4 a:hover,
.single-thread .top-sec h4 a:focus{
  color: #868585 !important;
}
.single-thread .top-sec h5 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 500;
  color: #2c3e50;
  letter-spacing: 1px;
}
.single-thread .top-sec h5 a{
  text-decoration: none;
}
.single-thread .mid-sec {
  padding: 10px 0 5px 0;
}
.single-thread .mid-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 15px;
  color: #868585 !important;
}
.single-thread .comment-tag.buyer {
    background: #34bfa3;
}
.thread .thread-list .single-thread .depth-2 {
    padding-left: 93px;
    border-top: 1px solid #ebedf2;
    border-bottom: 0;
}
.thread .thread-list .single-thread .media-body .comment-tag.author {
    background: #5867dd;
}


.comments-pagination {
    margin-bottom: 30px;
}
.product-pagination {
    text-align: center;
    margin-top: 30px;
}
.product-pagination ul {
    display: inline-block;
    border: 1px solid #ebedf2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.product-pagination ul li {
    display: inline-block;
    border-right: 1px solid #ebedf2;
    margin-right: -5px;
}
.product-pagination ul li a {
    display: block;
    width: 40px;
    height: 40px;
    color: #898b96;
    padding-top: 10px;
    text-align: center;
}

/*----------------------------------- */
/* Reply a Comment
------------------------------------- */
.reply-comment {
    padding: 30px;
}
.reply-comment img{
  width: 40px;
  height:40px;
  border-radius: 3px;
  position: relative;
  left: 40px;
}
.comment-reply-form{
 text-align: left; 
}
.comment-reply-form textarea {
    height: 79px;
    border: 1px solid #ebedf2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
	margin-bottom: 10px;
}
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    width: 100%;
    padding: 0 20px;
}
.depth-2 .col-lg-2{
  margin-right: 0px !important;
  padding-right: 0px !important;  
}

.comment-form-area{
  padding: 15px;	
}
.comment-form-area h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;	
 text-align: left; 
}

/*----------------------------------- */
/* Rating Section
------------------------------------- */
.rating {
    display: inline-block;
}
.rating ul {
    float: left;
}
.rating ul li {
    float: left;
    margin-right: 3px;
}
.rating ul li span.fa-star, .rating ul li span.fa-star-half {
    color: #ffc000;
}

@media only screen and (max-width: 992px){
	.single-thread .top-sec .col-lg-10{
	  position: relative;
	  left: 0px;
	}
    .depth-2{
	  padding-left: 30px !important;	
	}	
	.reply-comment img{
	  position: relative;
	  left: 0px;
	  margin-bottom: 5px;
	}	
}
@media only screen and (max-width: 768px){
	.single-thread .top-sec .col-lg-10{
	  position: relative;
	  left: 0px;
	}
    .depth-2{
	  padding-left: 30px !important;	
	}	
	.reply-comment img{
	  position: relative;
	  left: 0px;
	  margin-bottom: 5px;
	}
}

/*----------------------------------- */
/* Sidebar Section
------------------------------------- */
.sidebar-box .sidebar-item{
 background: #fff;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #ebedf2;
 margin-bottom: 30px;
}
.sidebar-box .sidebar-item .sidebar-header {
 background: #00C4CF;
 -webkit-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
 padding: 30px 0;
 text-align: center;
} 
.sidebar-box .sidebar-item .sidebar-header h1 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-size: 36px;
 line-height: 30px;
 color: #fff !important;
}
.sidebar-box .sidebar-item .sidebar-header h1 strike{
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 30px;
 color: #fff !important;
}
.sidebar-box .sidebar-item .sidebar-header h1 sup {
 font-family: 'Abhaya Libre', serif;
 font-size: 18px;
}
.sidebar-box .sidebar-item .sidebar-body {
 padding: 30px 20px;
} 
.sidebar-box .sidebar-item .sidebar-body p{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #88898a;
} 
.sidebar-box .sidebar-item .sidebar-body p span,
.sidebar-box .sidebar-item .sidebar-body p span a{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #FA5050
}

/*----------------------------------- */
/* Author Card Section
------------------------------------- */

.author-card{
 background: #fff;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #ebedf2;
 margin-bottom: 30px;
}
.author-card .author-header{
 padding: 10px 20px;
 border-bottom: 1px solid #ebedf2;
}
.author-card .author-header h4{
 font-family: "Poppins", sans-serif;
 font-size: 15px;
 color: #88898a;
}
.author-card .author-body{
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 padding: 10px 30px;
}
.author-card .author-body .author-image{
 width: 100px;
 height: 100px;
 display: inline-block;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 overflow: hidden;
 margin-right: 10px;
}
.author-card .author-body .author-desc h4 a{
 font-family: 'Montserrat', sans-serif;
 font-size: 17px;
 color: #00C4CF !important;
}

/*----------------------------------- */
/* Details Section
------------------------------------- */
.details-box{
 background: #fff;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 border: 1px solid #ebedf2;
 margin-bottom: 30px;
 padding-bottom: 0px;
}
.details-box .details-header{
 padding: 10px 20px;
 border-bottom: 1px solid #ebedf2;
}
.details-box .details-header h4{
 font-family: "Poppins", sans-serif;
 font-size: 15px;
 color: #88898a;
}
.details-box tr td{
 font-family: "Poppins", sans-serif;
 font-size: 15px;
 color: #88898a;
}
.details-box tr td a{
 font-family: "Poppins", sans-serif;
 font-size: 15px;
 color: #00C4CF;
}

/*----------------------------------- */
/* Social Share Section
------------------------------------- */
.social-share-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ebedf2;
    margin-bottom: 30px;
	padding: 20px;
}
.social-share-card p {
    margin: 0 15px 0 0;
	font-family: 'Abhaya Libre', serif;
	font-size: 16px;
}
.social-share-card ul li {
    display: inline-block;
    margin-right: 15px;
}
.social-share-card ul li a {
    color: #cfd4e2;
}

/* ------------------------------------------------------------------- */
/* Pricing Header Section
---------------------------------------------------------------------- */
.pricing-header {
}
.pricing-header h1 {
  font-family: 'Abhaya Libre', serif;
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
}
.pricing-header h2 {
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
  margin-top: 0px;
 margin-bottom: 40px;
 text-align: center;
}

@media(max-width:768px) {
	.pricing-header {
	  height: 200px;
	}
	.pricing-header h1{ 
	  font-size: 34px;
	}
	.pricing-header h2 {
	  font-size: 18px;
	}	
}

/* ------------------------------------------------------------------- */
/* Pricing
---------------------------------------------------------------------- */
.pricing {
 padding-top: 60px;
 padding-bottom: 50px;
 background: #f4f4f4;
}
.pricing-plan .pricing-box {
 background-color: #fff;
 padding: 30px 20px;
 margin-bottom: 30px;
 text-align: center;
 border: 1px solid #eee;
 -webkit-transition: .3s ease-in-out;
 -o-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}
.pricing-plan .pricing-box h6 {
 font-family: 'Abhaya Libre', serif;
 text-transform: uppercase;
 color: #96a2b2;
 font-weight: 700;
 font-size: 14px;
}
.pricing-plan .pricing-box .price {
 font-family: 'Abhaya Libre', serif;
 font-weight: 700;
 font-size: 55px;
 line-height: 55px;
 color: #00C4CF !important;
 padding: 10px 0;
}
.pricing-plan .pricing-box .price sup {
 font-size: 28px;
 vertical-align: super;
}
.pricing-plan .pricing-box .price span {
 display: block;
 font-family: Montserrat,sans-serif;
 font-size: 12px;
 font-weight: 400;
 line-height: 25px;
 color: #96a2b2;
}
.pricing-plan .pricing-box p {
 font-family: 'Abhaya Libre', serif;
 color: #848484;
 font-size: 16px;
}
.pricing-plan .pricing-box p strong {
 color: #00C4CF;
}
.pricing-plan .pricing-box p a{
 font-family: 'Abhaya Libre', serif;
 color: #00C4CF;
 font-size: 20px;
}

/* ------------------------------------------------------------------- */
/* Box Home Section
---------------------------------------------------------------------- */

.box-home {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(36,37,38,.08);
	margin-bottom: 30px;
}
.box-home:hover {
    box-shadow: 0 6px 15px rgba(43,37,38,.20);
}
.box-home > a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.box-home a {
    display: block;
}
.box-home img {
 float: left;
 width: 100px;
 height: 100px;
 border-radius: 6px;
}
.box-home h3 {
 font-family: "Poppins", sans-serif;	
 font-size: 16px;
 font-weight: 700;
 padding-left: 120px;
 margin-top: -5px;
 color: #00C4CF !important;
}
.box-home h4{
 font-family: 'Abhaya Libre', serif;
 line-height: 22px;
 font-size: 18px;
 color: #ea4c89;
 margin-top: 5px;
 padding-left: 120px;
}
.box-home p {
 line-height: 22px;
 margin-bottom: 0;
 padding-left: 120px;
}
.box-home p.price {
 font-family: 'Abhaya Libre', serif;
 line-height: 22px;
 font-size: 22px;
 color: #88898a;
 margin-top: 5px;
 padding-left: 120px;
}
.box-home .fa-check-circle {
 font-size: 14px;
 color: #ea4c89;
 margin-top: 5px;
}
.box-home p.date {
 font-family: 'Abhaya Libre', serif;
 line-height: 22px;
 font-size: 14px;
 color: #88898a;
 margin-top: 5px;
 padding-left: 120px;
}


/* ------------------------------------------------------------------- */
/* Profile Header Section
---------------------------------------------------------------------- */
.profile-banner {
  background: url('../images/2_1.jpg');
  color: #fff;
  height: 40vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; 
}
.profile-banner .banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-banner .banner-content a img{
 width: 100px;
 height: 100px;
 margin-bottom: 10px;
}
.profile-banner .banner-content h1 {
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0px !important;
}
.profile-banner .banner-content h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  margin-top: 0px !important;
  margin-bottom: 0;
}
.profile-banner .banner-content h3 {
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  margin-top: 7px !important;
}
.profile-banner .banner-content .button-wrapper {
 display: inline-block;	
}


@media(max-width:768px) {
	.profile-banner {
	  height: 70vh;
	}
	.profile-banner .banner-content h1{ 
	  font-size: 22px;
	}
	.profile-banner .banner-content h2 {
	  font-size: 18px;
	}	
	.profile-banner .banner-content h3 {
	  font-size: 16px;
	}
}


/* ----------------  Prop Info    --------------- */
.prop-info {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.prop-info i{
  color: #00C4CF !important;
}
.prop-info h3{
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  color: #848484 !important;
}
.prop-info p{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #848484 !important;
}
.prop-info p a{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #ffffff !important;
}






/* ------------------------------------------------------------------- */
/* Dashboard Details
---------------------------------------------------------------------- */
.dashboard {
 background: #f4f4f4;
 color: #272727;
 line-height: 22px;
}
.section-padding {
 padding: 80px 0;
}

/* ----------------  Sidebar    --------------- */

.sidebar-menu {
  list-style: none;
 padding: 20px 20px;
 overflow: hidden;
 background-color: #fff;
 margin-bottom: 30px;
 border-radius: 4px;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a:hover, 
.sidebar-menu > li > a:focus, 
.sidebar-menu > li > a{
 padding: 12px 5px 12px 15px;
 display: block;
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 text-decoration: none;
}
.sidebar-menu > li.menu-open {
 border-left: 2px solid #00C4CF !important;
}
.sidebar-menu > li.active {
 background: #00C4CF !important;
}
.sidebar-menu > li.active > a, 
.sidebar-menu > li.active > a:focus, 
.sidebar-menu > li.active > a:hover {
 color: #fff !important;
}

.sidebar-menu > li > a > .fa{
  width: 20px;
 font-size: 16px;
 color: #00C4CF;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
 margin-right: 5px;
 background: #00C4CF;
}

.sidebar-menu > li.active > a > .fa{
 color: #fff;
}
.sidebar-menu > li.active .label,
.sidebar-menu > li.active .badge {
 background: #fff;
 color: #00C4CF;
}

.sidebar-menu > li .badge {
  margin-top: 3px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
 color: #00C4CF;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
 color: #ffffff;
}
.sidebar-menu li > a > .fa-angle-left {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
}
.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu .treeview-menu {
  display: none;
}
.sidebar-menu .active > .treeview-menu {
  display: block;
}

/* ----------------  Treeview Menu    --------------- */
.treeview-menu > li {
  position: relative;
  margin: 0;
  padding-left: 20px;
}
.treeview-menu > li > a:hover, 
.treeview-menu > li > a:focus, 
.treeview-menu > li > a {
 display: block;
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 text-decoration: none;
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
  width: 20px;
 font-size: 16px;
 color: #00C4CF;
}

.sidebar-menu li.active > ul.treeview-menu > li > a,
.sidebar-menu li.active > ul.treeview-menu > li > a:hover {
 color: #ffffff !important;
}
.sidebar-menu li.active > ul.treeview-menu > li > a > .fa{
 color: #ffffff;
}


/* ----------------  Dashboard Fun Fact    --------------- */

.dashboard-info .fun-fact {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.dashboard-info .fun-fact h1 {
  font-family: 'Montserrat', sans-serif;	
  font-size: 30px;
  color: #00C4CF;
  margin: 0;
}
.dashboard-info .fun-fact span {
  font-family: 'Abhaya Libre', serif;	
  margin: 0;
  font-size: 16px;
  color: #3d464d;
  margin: 0;
  display: block;
}
.dashboard-info .fun-fact a {
  font-family: 'Abhaya Libre', serif;	
  margin: 0;
  font-size: 16px;
  color: #00C4CF;
  margin: 0;
  display: block;
}

/* ----------------  Box   --------------- */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #00C4CF;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header .box-title {
    display: inline-block;
	font-family: 'Montserrat', sans-serif;	
	font-size: 18px;
	color: #3d464d;
    margin: 0;
    line-height: 1;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box .box-body tr th{	
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
}
.box .box-body td a{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #00C4CF !important;	
}
.box .box-body td a.kafe-btn{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #fff !important;	
}
.box .box-body td{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #848484 !important;	
}
.box .box-body td img{
 padding-right: 5px;
}
.box .box-body td span.label-mint{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px !important;
 padding: 1px 10px;
 border-radius: 3px;
 font-weight: 400 !important; 
}
.box .box-body td i.fa{ 
 color: #00C4CF !important;	
}

/* ----------------  Email Info    --------------- */
.email-info {
  padding: 8px 20px;
  background-color: #FA5050;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 7px;
  margin-bottom: 20px;
  margin-top: -10px !important;
}
.email-info i{
  color: #ffffff !important;
}
..email-info h3{
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  color: #fff !important;
}
.email-info p{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #ffffff !important;
}
.email-info p a{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #ffffff !important;
}

/* ----------------  Job Box    --------------- */
.job-box {
 padding: 20px 20px;
 background-color: #fff;
 border-radius: 4px;
 color: #a0a0a0;
 line-height: 17px;
 margin-bottom: 20px;
}
.job-box .job-header{ 
 margin-bottom: 20px;
}
.job-box .job-header h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 font-weight: 700;
 color: #848484 !important; 
}
.job-box .form-group{
 margin-bottom: 35px;
}
.job-box label{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #00C4CF !important;
 font-weight: 400 !important;
}
.job-box .col-lg-6{
 margin: 0px !important;	
 padding-left: 0px !important;	
}
.job-box .col-lg-6.job-sec{
 margin: 0px !important;	
 padding-right: 0px !important;	
}
.job-box .form-control{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #848484 !important; 
}
.job-box .form-control:focus {
  border: 1px solid #00C4CF;
}
.job-box p{
 margin-top: 10px;	
}
.job-box p a{
 margin: 10px;	
}
.job-box p a.unselected{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 font-weight: 400 !important;
 color: #848484;
 padding: 5px;
 border-radius: 3px;
 background: #f4f4f4 !important;
}
.job-box p a.selected{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 background: #00C4CF !important;
 font-weight: 400 !important;
 color: #ffffff;
 padding: 5px;
 border-radius: 3px;
}
.job-box p a.unselected:hover{
 text-decoration: none !important;
 color: #848484 !important;
}
.job-box p a.selected:hover{
 text-decoration: none !important;
 color: #ffffff !important;
}
@media (max-width: 768px){
	.job-box .col-lg-6{
	 margin: 0px !important;	
	 padding-right: 0px !important;	
	}	
	.job-box p{
     line-height: 2.4 !important;		
	}	
}

/* ----------------  Button Box    --------------- */
.button-box {
 padding: 10px 20px;
 background-color: #fff;
 border-radius: 4px;
 color: #a0a0a0;
 font-size: 14px;
 line-height: 17px;
 margin-bottom: 20px;
}
/* ----------------  Profile Image   --------------- */

.change-photo {
    margin-bottom: 5px;
    overflow: hidden;
}
.change-photo .user-image {
    float: left;
    margin: 0 20px 0 0;
    border: none;
}
.change-photo .user-image{
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 30px;
}
.change-photo .user-image img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.change-photo .upload-photo {
    margin-top: 45px;
}
.change-photo .upload-photo .btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 20px 5px;
    border-radius: 30px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.change-photo .upload-photo input {
    display: none;
}


/* ------------------------------------------------------------------- */
/* Work
---------------------------------------------------------------------- */ 
.work {
 background-color: #fff;
 padding: 20px 10px 10px 10px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}
/*----------------------------------- */
/* Job Section
------------------------------------- */
.job .small-hr {
  margin:8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}
.job:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-bottom: 4px solid #e0e0e0;
  padding-bottom: 10px;
}
.job{
  padding: 10px 0 0px 0;
}
.job:last-child {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-bottom: 4px solid #e0e0e;
  margin-bottom: 5px;
}
.job .top-sec {
  padding-top: 15px;
}
.job .top-sec h4 a{
 font-family: 'Abhaya Libre', serif;
 text-decoration: none;
 font-weight: 700;
 font-size: 18px;
 color: #00C4CF;
 line-height: 0;
}
.job .top-sec h4 a:hover,
.job .top-sec h4 a:focus{
  color: #019da5 !important;
}
.job .top-sec h3{
 font-family: 'Abhaya Libre', serif;
 text-decoration: none;
 font-weight: 700;
 font-size: 18px;
 color: #00C4CF;
 line-height: 0;
}
.job .top-sec h5{
 font-family: 'Abhaya Libre', serif;
 font-weight: 700;
 color: #898b8c;
 font-size: 16px;
 line-height: 0;
}
.job .top-sec h6{
 font-family: 'Abhaya Libre', serif;
 font-weight: 400;
 color: #00C4CF;
 font-size: 14px;
 line-height: 0.8;
}
.job .top-sec p{
 font-family: 'Abhaya Libre', serif;
 font-weight: 400;
 color: #898b8c;
 font-size: 14px;
 line-height: 0.8;
}

.job .mid-sec {
  padding: 0px 0 5px 0;
}
.job .mid-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 16px;
  color: #868585 !important;
}
.job .mid-sec .label-success {
  font-family: 'Abhaya Libre', serif;
  background: #00C4CF !important; 
  margin-bottom: 5px;
  font-size: 13px;
  color: #fff !important;
  letter-spacing: 1px;
}


.job .bottom-sec img {
  width: 60px;
  height:60px;
  border-radius: 3px;
  margin-right: 10px;
  
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.job .bottom-sec img:hover,
.job .bottom-sec img:focus {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.job .bottom-sec h5 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 14px !important;
  line-height: 0.4;
}
.job .bottom-sec h5 a{
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 14px !important;
  line-height: 0.4;
}
.job .bottom-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
  line-height: 0.8;
}
.job .bottom-sec p i{
 font-size: 10px;	
 color: #00C4CF;
}
.job .bottom-sec h4 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 19px !important;
  line-height: 0.4;
}
@media only screen and (max-width: 768px){
	.job .bottom-sec .pull-right{
	 float: left !important;	
	 width: 100%;
	}
}

.card-box-profile {
	background-color: #fff;
	padding: 20px 20px;
	color: #000;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.card-box-profile img{
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
.card-box-profile h3{
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  color: #00C4CF;
  padding-left: 18px;
  font-weight: 700;
}
.card-box-profile h4{
  font-family: 'Abhaya Libre', serif;
  font-size: 16px;
  color: #88898a;
  padding-left: 18px;
  font-weight: 400;
}
.card-box-profile p {
  font-family: 'Abhaya Libre', serif !important;
  padding-bottom: 0px;
  font-size: 15px !important;
  color: #868585 !important;
}
.card-box-profile i.fa-map-marker {
  color: #00C4CF !important;
}
.card-box-profile i.rating-star{
 color: #00C4CF;
}
.card-box-profile p.p-star {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box-profile .kafe-btn-mint-small,
.card-box-profile .kafe-btn-danger-small{
 width: 130px;	
}

.card-box-profile .bottom-sec {
  padding-top: 10px;
}
.card-box-profile .bottom-sec .kafe-btn-mint-small{
  margin-top: 10px;
}
.card-box-profile .bottom-sec h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 12px !important;
  letter-spacing: 1px;
}
.card-box-profile .bottom-sec h5 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px !important;
  letter-spacing: 1px;
  color: #ff6c6c;
}
.card-box-profile .bottom-sec p {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
}


/* ------------------------------------------------------------------- */
/* Profile Details
---------------------------------------------------------------------- */
.profile-details{
  background: #f4f4f4;
  padding: 20px 0;
} 
.profile-details .card-box-profile-details {
 background-color: #fff;
 padding: 40px 30px 10px 30px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}

.description-profile {
    padding: 10px 10px;
}
.description-profile h3{
  font-family: 'Montserrat', sans-serif;	
  font-size: 20px;
  color: #3d464d;
}	
.description-profile ul li {
  font-family: 'Abhaya Libre', serif;		
  font-size: 15px;
  letter-spacing: 1px;
  color: #898b8c;
}
.description-profile p{
  font-family: 'Abhaya Libre', serif;		
  font-size: 18px;
  color: #898b8c;
}
.description-profile .tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.description-profile .resume-info > li {
    margin-bottom: 30px;
    position: relative;
}

.description-profile .resume-info .icon i,
.work .icon i{
    font-size: 30px;
    color: #00C4CF;
    margin-right: 10px;
}
.description-profile .tr-title,
.work .tr-title{
 font-family: 'Abhaya Libre', serif;	
 display: block;
 font-size: 18px;
 font-weight: 700;
 color: #2c3e50;
 margin-bottom: 20px;
}

.description-profile .personal-details li {
    margin-bottom: 10px;
}
.description-profile .personal-details .media-body ul > li > span {
    font-weight: normal;
}
.description-profile .label-success {
  font-family: 'Abhaya Libre', serif;
  background: #00C4CF !important; 
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff !important;
  letter-spacing: 1px;
}

/* ------------------------------------------------------------------- */
/* Users
---------------------------------------------------------------------- */
.card-box {
 background-color: #fff;
 padding: 40px 10px 10px 10px;
 color: #000;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}
.card-box .most-popular {
 position: absolute;
 top: 25px;
 right: -60px;
}	
.card-box .most-popular span {
 font-family: 'Abhaya Libre', serif;
 color: #fff;
 display: block;
 font-size: 14px;
 padding: 5px 70px;
 background: #d65456 !important;
 -webkit-transform: rotate(40deg);
 -moz-transform: rotate(40deg);
 -ms-transform: rotate(40deg);
 -o-transform: rotate(40deg);
 transform: rotate(40deg);
}
.card-box .member-card .member-thumb {
 position: relative;
 height: 120px;
 width: 120px;
 margin-bottom: 10px !important;
 display: block;
 margin-right: auto;
 margin-left: auto;
}
.card-box i.member-star{
 position: relative;
 top: -120px;  
 left: 40px;
 color: #00C4CF;
}
.card-box h4 a{
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 19px;
 font-weight: 700;
 color: #00C4CF !important;
 line-height: 0 !important; 
}
.card-box h4.top{
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 19px;
 font-weight: 700;
 color: #00C4CF !important;
 line-height: 1 !important; 
}
.card-box p.p-location {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box i.rating-star{
 color: #00C4CF;
}
.card-box p.p-star {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box h5 {
 margin-top: 30px !important;
 margin-bottom: 10px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF !important; 
 line-height: 0.9;
 font-weight: 700;
}
.text-muted {
 color: #898b8c !important;
}
.featured-users p.font-16 {
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
}
.card-box .row{
 padding: 0px 5px!important;
 margin: 0px !important; 
}
.card-box .row .col-sm-4{
 padding: 0px !important;
 margin: 0px !important; 
}
.card-box h6 {
  margin-bottom: 0px !important;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #00C4CF !important; 
}
.card-box p.bottom {
  font-family: 'Abhaya Libre', serif;
  font-size: 13px !important;
  color: #898b8c !important;
  margin-bottom: 0px !important;
}

/* ----------------  Work Box  --------------- */
.work-box {
 background-color: #fff;
 padding: 0px 20px;
 color: #000;
 border-radius: 4px;
 margin-bottom: 30px;
 overflow: hidden;
}
.work-box .small-hr{
 margin-top: 0px !important;	
 margin-bottom: 5px !important;	
}
.work-box .top-sec h3{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 padding-left: 18px;
 font-weight: 700;
 line-height: 1;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
}
.work-box .top-sec h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 0.8;
}
.work-box .top-sec p{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 1;
}

.work-box .middle-sec{
 margin-bottom: 5px;
}
.work-box .middle-sec img{
 float: left;
 width: 70px;
 height: 70px;
 margin-right: 15px;
}
.work-box .middle-sec h3{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 font-weight: 700;
 line-height: 0;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 margin-top: 5px !important;
}
.work-box .middle-sec h3 a{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 font-weight: 700;
 line-height: 1;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 margin: 0px !important;
}
.work-box .middle-sec h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 0.8;
}
.work-box .middle-sec h4 .label-mint{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 1;
}


.work-box .bottom-sec {
 padding-top: 10px;
}
.work-box .bottom-sec .kafe-btn-mint-small{
 margin-top: 10px;
}
.work-box .bottom-sec h5 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
 color: #00C4CF  !important;
 font-size: 12px !important;
 letter-spacing: 1px;
 line-height: 0;
}
.work-box .bottom-sec p {
 font-family: 'Abhaya Libre', serif;
 padding-bottom: 0px;
 font-size: 14px;
 color: #848484;
}
@media only screen and (max-width: 768px){
	.work-box .middle-sec {
	 margin-bottom: 10px !important;
	}	
	.work-box .bottom-sec {
	 margin-top: 0px;
	}
	.work-box .bottom-sec .pull-right {
	 float: left !important;
	}	
}


/* ==========================================================================
   Messages Page
   ========================================================================== */
.chat{
  background: #f4f4f4;	
  padding: 80px 0px 150px 0px;
}
.messages-box {
 float: left;
 width: 100%;
}
.no-pdd {
 padding: 0px !important;
}
.messages-container {
 float: left;
 width: 100%;
 background-color: #fff;
 border-left: 1px solid #e4e4e4;
 border-bottom: 1px solid #e4e4e4;
 border-right: 1px solid #e4e4e4;
}
.message-header {
 float: left;
 width: 100%;
 padding: 0px !important;
}
.message-title{
 padding: 0px 20px;
 border-bottom: 2px solid #f4f4f4;
}
.message-title h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #88898a;
 font-weight: 700;
}
.search-area {
 padding: 10px 20px 20px 20px;
}
.search-area .input-field {
 background: #f4f4f4;
 margin: 0;
 border-radius: 4px;
 overflow: hidden;
 padding: 0 20px;
 position: relative;
}
.search-area .input-field input {
 font-family: 'Abhaya Libre', serif;
 width: 80%; 
 margin: 0;
 border: 0;
 background: #f4f4f4;
 color: #848484 !important;
 padding: 10px 0px;
}
.search-area .input-field i {
 font-size: 18px;
 color: #848484 !important;
 float: right;
 position: relative;
 top: 10px;
 cursor: pointer;
}


.messages-list {
 float: left;
 width: 100%;
 padding: 0px !important;
}
.messages-list ul {
 float: left;
 width: 100%;
 padding: 0px !important;
 height: 700px !important;
 overflow-y: scroll;	
}
.messages-list ul li.active {
 background-color: #efefef;
}
.messages-list ul li {
 float: left;
 width: 100%;
 padding: 10px 10px 10px 20px;
 border-bottom: 2px solid #f4f4f4;
 cursor: pointer;
}
.messages-list ul li:last-child {
 border-bottom: none;
}


.user-message-details {
 float: left;
 position: relative;
 width: 100%;
}
.user-message-img {
 float: left;
 width: 40px;
 height: 40px;
 position: relative;
 top: 6px;
}
.user-message img {
 width: 100%;
}
.user-online {
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 background-color: #00C4CF;
 position: absolute;
 top: -3px;
 right: 0;
 width: 6px;
 height: 6px;
}
.user-message-info {
 position: relative;
 top: 0px;
 float: left;
 padding-left: 13px;
}
.user-message-info h4 {
 font-family: 'Abhaya Libre', serif;	
 color: #88898a;
 font-size: 16px;
 font-weight: 700;
 line-height: 0;
}
.user-message-info p {
 font-family: 'Abhaya Libre', serif;	
 color: #848484;
 font-size: 14px;
 padding-bottom: 0px !important;
 margin-bottom: 0px !important;
}
.user-message-info span {
 font-family: 'Abhaya Libre', serif;
 color: #aaa;
 font-size: 13px;
 line-height: 0;
}
.message-notification {
 position: absolute;
 top: 2px;
 right: 0;
 width: 25px;
 height: 25px;
 
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 
 background-color: #00C4CF;
 text-align: center;
 line-height: 25px;
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #fff;
}


.pd-right-none {
 padding-right: 0;
}
.pd-left-none {
 padding-left: 0;
}
.conversation-box {
 float: left;
 width: 100%;
 background-color: #fff;
 position: relative;
 border-right: 1px solid #e4e4e4;
 border-bottom: 1px solid #e4e4e4;
}
.conversation-header {
 float: left;
 width: 100%;
 background-color: rgba(255,255,255,0.95);
 padding: 10px 0px 5px 20px;
 border-bottom: 1px solid #eaeaea;
 z-index: 0;
}


.conversation-container {
 float: left;
 width: 100%;
 height: 670px;
 overflow-y: scroll;
 padding: 20px 0px; 
}
.convo-box {
 float: left;
 width: 100%;
 position: relative;
 margin-bottom: 15.5px;
}
.convo-box.pull-right .convo-area {
 padding-left: 0;
 padding-right: 5px !important;
}
.convo-box.pull-right .convo-area{
 width: 100%;
}
.convo-area {
 float: left;
 width: auto;
 padding-left: 85px;
}
.convo-message {
 float: left;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
 border-radius: 15px;
 width: 100%;
}
.convo-box.pull-right .convo-area .convo-message > p {
 float: right;
 width: auto;
 margin-right: 80px;
 margin-left: 100px;
 background-color: #00C4CF;
 font-family: 'Abhaya Libre', serif;	
 color: #848484;
 font-size: 15px;
 line-height: 22px;
 padding: 10px 35px 10px 35px;
 color: #fff;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
 border-radius: 15px;
}
.convo-box.pull-right .convo-area > span {
 float: right;
 width: auto;
}
.convo-area > span {
 color: #b2b2b2;
 font-family: 'Abhaya Libre', serif;	
 color: #aaa;
 font-size: 13px;
 float: left;
 width: 100%;
 margin-top: 7px;
}
.convo-box.pull-right .convo-img {
 left: auto;
 right: 20px;
 bottom: 25px;
 padding-right: 0px !important;
 margin-right: 0px !important;
}
.convo-img {
 position: absolute;
 bottom: 25px;
 left: 20px;
 width: 50px;
}

.convo-area.convo-left .convo-message > p {
 background-color: #f4f4f4;
 font-family: 'Abhaya Libre', serif;	
 font-size: 15px;
 line-height: 22px;
 color: #686868;
 width: auto;
 margin-right: 80px;
 padding: 10px 15px;
 float: left;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
 border-radius: 15px;
}
.convo-box.convo-left .convo-img {
 bottom: 13px;
}


.type_messages {
 border-top: 2px solid #f2f6f8;
 display: block;
 overflow: hidden;
 margin-bottom: 0px;
 padding: 8px 20px 5px 20px;
}
.type_messages .input-field {
 position: relative;
 margin: 0;
}
.type_messages .input-field textarea {
 font-family: 'Abhaya Libre', serif;	
 font-size: 20px;
 margin: 0;
 outline: none;
 resize: none;
 border: 0;
 box-shadow: none;
 color: #aaa;
 width: 80%;
}
.type_messages .input-field .imoji {
 position: absolute;
 top: 2px;
 right: 0;
}
.type_messages .input-field .imoji li {
 display: inline-block;
 padding-left: 17px;
}
.type_messages .input-field .imoji li a {
 font-family: 'Abhaya Libre', serif;	
 font-size: 20px;
 color: #fff;
}


.message-send-area {
    float: left;
    width: 100%;
    background-color: #f3f5f7;
    padding: 25px 20px 15px 20px;
    border: 1px solid #eeeeee;
}
.message-send-area form {
    float: left;
    width: 100%;
}
.mf-field {
    float: left;
    width: 100%;
}
.mf-field input {
    float: left;
    width: 80%;
    background-color: #fff;
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    height: 45px;
}
.mf-field button {
    float: left;
    width: 17%;
    background-color: #e44d3a;
    height: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: 0;
    margin-left: 15px;
    cursor: pointer;
}
.message-send-area form > ul {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.message-send-area form > ul li {
    display: inline-block;
    margin-right: 20px;
}
.message-send-area form > ul li a {
    color: #b2b2b2;
    font-size: 18px;
}

/* ==========================================================================
   Media Queries for Chat Page
   ========================================================================== */
   
/* Desktop */
@media (max-width: 1024px){
}

@media (max-width: 992px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

/* Tablets */
@media (max-width: 800px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}
}

@media (max-width: 768px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

/* Mobile phones */
@media (max-width: 600px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

@media (max-width: 548px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

@media (max-width: 480px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}
}

@media (max-width: 320px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}


/* ==========================================================================
   Blog Page Styles (blog.html)
   ========================================================================== */ 
   
/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */    

.header-blog {
  background: linear-gradient(
      rgba(34,34,34,0.6), 
      rgba(34,34,34,0.6)
    ), url('../images/5.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 55vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-blog .content-blog {
  margin-top: 10px;
}

.header-blog h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header-blog p {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 420px){
	.header-blog h1 {
	  font-size: 22px;
	}
	.header-blog p {
     font-size: 14px;
    }
}

/* ==========================================================================
   How Avatar Section
   ========================================================================== */
.how-avatar {
 margin-bottom: -110px;
 position: relative;
 top: -40px;
 text-align: center;
}	
.how-avatar img{
 border: 7px solid #f5f5f6;
 border-radius: 50%;
 float: none;
 height: 80px;
 width: 80px;
}
.how-avatar p {
 color: #868585 !important;
 font-family: "Poppins", sans-serif;
 font-size: 16px;
 font-weight: 700;
 margin-bottom: 0;
}

/* ------------------------------------------------------------------- */
/* Related Articles Styles
---------------------------------------------------------------------- */ 
.articles {
  background: #fff;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 150px;
}


.articles .container-fluid li{
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.articles .tint{
  position: relative;
  float: left;
  cursor: pointer;
  background-color: #3F3D48;
  width: 100%;
}

.articles .tint .featured-thumbnail{
  position: relative;
  opacity: 0.3;
  max-height: 300px !important;
  overflow: hidden;
}

.articles .tint .featured-thumbnail img{
  width: 100%;
}

.articles .featured-titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.articles .featured-titles h6{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.articles .featured-titles h6 a{
  text-decoration: none;
  color: #fff;
}

.articles .featured-titles hr{
  border: 1px solid #F16078;
  width: 24%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.articles .featured-titles p.blog-title a{
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  padding-top: 10px;
  max-width: 70%;
  margin: 0 auto;
  max-height: 120px;
  overflow: hidden;
}

.articles .featured-titles p.blog-title a:hover{
  text-decoration: none;
  color: #fff !important;
}

@media only screen and (max-width: 1200px){
	.articles .col-lg-6{
		margin-bottom: 30px;
	}	
	.articles .tint-bg{
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  width: 100%;
	}	
}


/* ------------------------------------------------------------------- */
/* Job post Header Section
---------------------------------------------------------------------- */
.jobpost-header {
}
.jobpost-header .post-heading{
 padding: 100px 0 50px;
 color: #ffffff;
}	
.jobpost-header .post-heading .entry-meta {
 color: #ffffff;
 font-family: "Poppins", sans-serif;
 font-size: 15px;
 font-style: normal;
 letter-spacing: 1px;
 margin-bottom: 20px;
 text-transform: uppercase;
}	
.jobpost-header .post-heading .entry-meta a {
 border: none;
 color: #f1be5a;
}		
.jobpost-header .post-heading .entry-meta a:hover {
 color: #f1be5a !important;
}
.jobpost-header h1 {
 font-family: "Poppins", sans-serif;
 font-weight: 700;
 text-align: center;
 color: #fff;
 letter-spacing: 0px;
 font-size: 55px;
}
@media only screen and (max-width: 768px) {
	.jobpost-header {
	  height: 60vh;
	  width: 100%;
	}	
	.jobpost-header .post-heading {
	 padding: 150px 0;
	}	
	.jobpost-header h1 {
	 font-size: 25px;
	}
}

/* ==========================================================================
   Entry Content Section
   ========================================================================== */
.site-content {
 background: #f9f9f9;
 padding: 40px 0px;	
}
.site-content .top{
 margin-top: 55px;
}
.site-content .content-base{
 margin-top: 55px;
 padding: 10px 40px;
 background: #ffffff;
 box-shadow: 0 3px 8px rgba(0,0,0,.08);
}
.single-page-section {
 margin-bottom: 55px;
 display: block;
}
.single-page-section h3 {
 font-family: "Poppins", sans-serif;
 margin-bottom: 30px;
 font-size: 20px;
 font-weight: 700;
 color: #00C4CF !important;
}
.single-page-section p {
 font-family: "Poppins", sans-serif;	
 font-size: 16px;
 color: #858686;
 line-height: 27px;
 margin-top: 0;
 margin-bottom: 1rem;
}
.single-page-section ul { list-style: decimal !important;
 padding-left: 30px;  }
.single-page-section li { 
 list-style-type: decimal;
 font-family: "Poppins", sans-serif;	
 font-size: 14px;
 color: #858686;
 line-height: 24px; 
}