/* ==========================================================================
   The Kafe - Ultimate Freelance Marketplace
   ========================================================================== */
/*
* Author Name: TheMashaBrand
* Author URI: http://themeforest.net/user/themashabrand
* Website: http://www.themashabrand.com
  
/* ------------------------------------------------------------------- */
/* Import Section
---------------------------------------------------------------------- */
@import url("base.css");				/* Default Reset, Typography, Forms, etc. */
@import url("bootstrap.min.css");			/* Bootstrap 3.3.6 */
@import url("font-awesome.min.css");		/* Font-awesome 4.5.0 */
@import url("animate.min.css");		/* Scrolling Animations */
@import url("css.css");
@import url("css_5.css");
@import url("css_1.css");
@import url("css_2.css");
@import url("css_4.css");
@import url("css_3.css");

/* ------------------------------------------------------------------- */
/* Navbar Section
---------------------------------------------------------------------- */
.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  z-index: 1030;
}
.navbar-brand {
    font-family: 'Abhaya Libre', serif;
    font-size: 28px;
    color: #474B59 !important;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
a.navbar-brand:hover {
    color: #00C4CF !important;
}
.navbar-brand img{
  float: left;
  margin-right: 6px;
  width: 25px;
  height: 25px;
  position: relative;
  top: -4px;
}
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.tr-dropdown-menu li a:hover {
    color: #00C4CF;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}
.navbar-default .navbar-nav li a{
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    color: #858686;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 2px;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
.navbar-default .navbar-nav li a:hover{
    color: #00C4CF !important;
}
.navbar-default .navbar-nav li i{
    padding: 15px 2px;
    color: #858686;
    font-size: 14px;
    line-height: 25px;
}
.navbar-default .navbar-right .kafe-btn{
    font-family: 'Abhaya Libre', serif;
	font-size: 14px;
    text-transform: uppercase;
    margin: 12px 2px;
}
.down-header.navbar-default .navbar-nav > li > a{
	float: center;
}

.navbar-right {
    display: inline;
    margin-right: 35px;
}
.navbar-right li {
    display: inline-block;
}

/* ==========================================================================
   Dropdown Menu
   ========================================================================== */

.avatar {
	width: 32px;
	height: 32px;
	text-align: center;
}

.w {
  width: 200px;
  position: absolute;
  top: 118% !important;
}	
.w a{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
}   

.dropdown-menu::before {
    position: absolute;
	color: #fff;
    top: -8px;
    right: 16px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e1e6ef;
    border-left: 8px solid transparent;
    content: '';
}
.dropdown-menu.pull-right {
  left: auto;
  right: 0;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.mega-avatar > li.dropdown-menu{
  left: 0;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 2rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-size: 40px !important;
  font-weight: 400;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.dropdown-item:hover{
  background: #eee;
}
@media(max-width:768px) {
	.navbar-brand {
		font-size: 18px;
	}	
	.navbar-default .navbar-nav>li>a {
		padding: 10px 10px;
		line-height: 4px;
	}
	.navbar-right {
	    padding: 4px 0;
		margin-right: 0;
	}
	.navbar-default .navbar-nav li i{
		padding-top: 4px;
		padding-left: 20px;
		padding-right: 0px !important;
		line-height: 4px;
	}	
	.navbar-default .navbar-right .navbar-nav {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}	
	.navbar-default .navbar-right li a {
		padding-top: 4px !important;
		padding-right: 20px !important;
		padding-bottom: 0px !important;
		line-height: 4px;
	}
	.navbar-right .kafe-btn {
		margin: 2px 20px;
	}
	
	.dropdown-menu.pull-right {
	  position: relative;
	  left: 20px !important;
	}	
	.navbar-default .navbar-right li a.dropdown-item {
	  display: block;
	  width: 100%;
	  padding-top: 13px !important;
	  padding-right: 0px !important;
	  padding-bottom: 13px !important;
	  padding-left: 10px !important;
	  clear: both;
	  font-weight: 400;
	  color: #373a3c;
	}
	.navbar-default .navbar-right li a.dropdown-item:hover{
	  background: #eee;
	}
}

/* ------------------------------------------------------------------- */
/* Header Section
---------------------------------------------------------------------- */
.tr-banner {
  background: url('../images/cover.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 80vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.banner-content h2 {
  font-family: 'Abhaya Libre', serif;
  font-size: 38px;
  margin-top: 0;
}
.banner-content h3 {
	font-family: 'Courgette', cursive;
  font-size: 20px;
  margin-bottom: 0;
}
form.form-horizontal {
	margin-top: 20px;
    padding: 20px;
    display: table;
    width: 100%;
    background: rgba(255,255,255,.2);
    border-radius: 4px;
}
.banner .no-padd {
    padding: 0 5px;
}
.form-horizontal .input-group {
    width: 100%;
    padding: 0;
    display: block;
}
.form-horizontal .input-group input{
    border-radius: 4px !important;
	font-size: 18px;
	font-family: 'Courgette', cursive;
}
.form-control.right-bor {
    border-right: 1px solid #e4e4e4;
}
.form-horizontal .kafe-btn-mint, 
.form-horizontal .kafe-btn-mint:focus, 
.form-horizontal .kafe-btn-mint:hover, 
.form-horizontal .form-control {
    height: 52px;
}

.features {
	padding-top: 40px;
	padding-bottom: 0px !important;
}
.features .fa-stack{
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.features .fa-3x{
  font-size: 3em;
}
.features .fa-inverse{
  color: #555;
}
.features p{
	font-family: 'Abhaya Libre', serif;
	font-size: 20px;
}

@media(max-width:768px) {	
	.banner-content h2 {
	  font-family: 'Abhaya Libre', serif;
	  font-size: 28px;
	  margin-top: 0;
	}
	.banner-content h3 {
		font-family: 'Courgette', cursive;
	  font-size: 16px;
	  margin-bottom: 0;
	}
}

/* ------------------------------------------------------------------- */
/* Tr Category Section
---------------------------------------------------------------------- */
.tr-category {
    text-align: center;
	background: #f4f4f4;
}
.category-list {
    border-radius: 4px;
    overflow: hidden;
}
.tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tr-category div.col-lg-3{
 margin: 0 !important;
 padding: 0 !important;
}
.category-list .category-box {
    float: left;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    border-right: 1px solid #e6e3e6;
    border-bottom: 1px solid #e6e3e6;
}
.category-list .category-box a {
    color: #b5b5b5;
    display: block;
    padding: 40px 15px;
}
.category-list .category-box a:hover {
    text-decoration: none;
	color: #00C4CF !important;
}
.category-list .icon {
    margin-bottom: 5px;
    min-height: 40px;
}
.category-list span {
    display: block;
}
.category-list .icon .fa {
    color: #00C4CF !important;
}
.category-list .category-title {
	font-family: 'Abhaya Libre', serif;
	font-size: 18px;
    color: #3d464d;
}
.category-list .category-quantity {
	font-family: 'Abhaya Libre', serif;
	font-size: 16px;
    color: #898b8c;
}

/* ------------------------------------------------------------------- */
/* Fun Fact Section
---------------------------------------------------------------------- */
.tr-fun-fact{
	background: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 30px;
}  
  
.tr-fun-fact .fun-fact {
	background-color: #fff;
	border-radius: 4px;
	color: #a0a0a0;
	font-size: 14px;
	line-height: 17px;
	padding: 30px;
	margin-bottom: 20px;
}
.tr-fun-fact .fun-fact img {
	display: inline-block;
}
.tr-fun-fact .fun-fact h4 {
	font-family: 'Abhaya Libre', serif;
	font-size: 20px;
	color: #3d464d;
	margin: 20px 0 0;
}
.tr-fun-fact .fun-fact span {
	font-family: 'Abhaya Libre', serif;
	font-size: 19px;
	color: #3d464d;
	margin: 15px 0;
	display: block;
}  

/* ------------------------------------------------------------------- */
/* Footer Section
---------------------------------------------------------------------- */

.footerWhite {
    background-color: #ffffff;
}
footer {
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding-bottom: 0;
    position: relative;
}
footer {
    display: block;
    float: left;
    width: 100%;
}


.footerWhite .copyRightWrapper {
  padding: 20px 0;
  border-top: 1px solid #eee !important;
}
.footerWhite .copyRightWrapper .copyRightText p {
  font-family: 'Abhaya Libre', serif;	
  color: #848484;
  font-size: 17px;
}
.footerWhite .copyRight .socialLink {
    text-align: right;
    margin: 0;
}
.footerWhite ul li {
    list-style-type: none;
}
.footerWhite .copyRight .socialLink li a {
    color: #848484;
    border-color: #e5e5e5;
    font-size: 17px;
    padding: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: block;
    border: 1px solid rgba(255,255,255,0.25);
    text-align: center;
    line-height: 38px;
}

#scrollup {
  background: url("../images/arrowup.png") no-repeat 0px 0px;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  cursor: pointer;
}


/* ------------------------------------------------------------------- */
/* Users
---------------------------------------------------------------------- */
.featured-users {
	border-bottom: 2px solid #F6F6F7;
	padding-top: 20px;
	padding-bottom: 40px;
	background: #f4f4f4;
}

.card-box {
 background-color: #fff;
 padding: 40px 10px 10px 10px;
 color: #000;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}
.card-box .most-popular {
 position: absolute;
 top: 25px;
 right: -60px;
}	
.card-box .most-popular span {
 font-family: 'Abhaya Libre', serif;
 color: #fff;
 display: block;
 font-size: 14px;
 padding: 5px 70px;
 background: #d65456 !important;
 -webkit-transform: rotate(40deg);
 -moz-transform: rotate(40deg);
 -ms-transform: rotate(40deg);
 -o-transform: rotate(40deg);
 transform: rotate(40deg);
}
.card-box .member-card .member-thumb {
 position: relative;
 height: 120px;
 width: 120px;
 margin-bottom: 10px !important;
 display: block;
 margin-right: auto;
 margin-left: auto;
}
.card-box i.member-star{
 position: relative;
 top: -120px;  
 left: 40px;
 color: #00C4CF;
}
.card-box h4 a{
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 19px;
 font-weight: 700;
 color: #00C4CF !important;
 line-height: 0 !important; 
}
.card-box h4.top{
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 19px;
 font-weight: 700;
 color: #00C4CF !important;
 line-height: 1 !important; 
}
.card-box p.p-location {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box i.rating-star{
 color: #00C4CF;
}
.card-box p.p-star {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box h5 {
 margin-top: 30px !important;
 margin-bottom: 10px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF !important; 
 line-height: 0.9;
 font-weight: 700;
}
.text-muted {
 color: #898b8c !important;
}
.featured-users p.font-16 {
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
}
.card-box .row{
 padding: 0px 5px!important;
 margin: 0px !important; 
}
.card-box .row .col-sm-4{
 padding: 0px !important;
 margin: 0px !important; 
}
.card-box h6 {
  margin-bottom: 0px !important;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #00C4CF !important; 
}
.card-box p.bottom {
  font-family: 'Abhaya Libre', serif;
  font-size: 13px !important;
  color: #898b8c !important;
  margin-bottom: 0px !important;
}


/* ------------------------------------------------------------------- */
/* Widget Section
---------------------------------------------------------------------- */

.widget {
 color: #afb1b2;
 padding: 15px 15px;
 border-radius: 4px;
 background-color: #fff;
 margin-bottom: 30px;
}	
.widget .widget_title {
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #272727;
 margin: 0 0 20px;
}
.widget .widget_title_small {
 font-family: 'Abhaya Libre', serif;
 font-size: 12px;
 color: #272727;
 margin: 0 0 4px 0px;
}
.widget ul li a{
 font-family: 'Abhaya Libre', serif;
 text-decoration: none;
 font-size: 16px;
 padding: 5px 0;
 color: #898b8c !important;
 font-weight: 400;
}
.widget ul li a:hover {
 text-decoration: none;
 color: #00C4CF !important;
}
.widget ul li a i{
 margin-right: 5px;
}
.widget ul li a.active{
 color: #00C4CF !important;
}


.widget .row{
 padding: 0px 0px!important;
 margin: 0px !important; 
}
.widget .row .col-sm-6{
 padding: 0px !important;
 margin: 0px !important; 
}

.margin-space{
 margin: 30px 0px;	
}

/* ------------------------------------------------------------------- */
/* Pagination - User List Page
---------------------------------------------------------------------- */	
.paginationCommon.blogPagination {
    margin-bottom: 25px;
    margin-top: 25px;
}
.paginationCommon.blogPagination nav {
    margin: 0;
    border: none;
}
.paginationCommon.blogPagination nav .pagination {
    margin: 0;
}
.paginationCommon .pagination li {
    float: left;
    margin: 25px 5px 5px 0;
}
ul li {
    list-style-type: none;
}
.paginationCommon .pagination li:first-child a {
    border-radius: 0;
}
.paginationCommon .pagination li a {
    border-color: #e5e5e5;
    float: none;
    color: #222222;
    font-weight: 400;
    padding-top: 10px;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
    font-size: 12px;
}
.paginationCommon .pagination li a:hover,  {
    color: #fff;
    background-color: #00C4CF !important;
    border-color: #00C4CF !important;
}

.paginationCommon .pagination li a span {
    font-size: 17px;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #00C4CF !important;
    border-color: #00C4CF !important;
}
@media(max-width:992px) {	
	.paginationCommon.blogPagination {
		margin-top: 0;
	}
}
@media(max-width:768px) {	
	.paginationCommon.blogPagination {
		margin-bottom: 0;
		margin-top: 15px;
	}
	.paginationCommon nav {
		margin: 0 0 70px 30px;
	}
	.paginationCommon .pagination li {
		margin: 0 10px 0 0;
	}	
	.paginationCommon .pagination li a {
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
	}	
	.paginationCommon .pagination li:first-child a {
		margin-left: 20px;
	}
	.paginationCommon .pagination li:second-last a {
		margin-left: 20px;
	}
}

/* ------------------------------------------------------------------- */
/* Profile
---------------------------------------------------------------------- */
.profile {
	border-bottom: 2px solid #F6F6F7;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f4f4f4;
}
.profile .nav-tabs li a{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
}
.profile .nav-tabs li.active a{
 color: #00C4CF !important;
}
.card-box-profile {
	background-color: #fff;
	padding: 20px 20px;
	color: #000;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.card-box-profile img{
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
.card-box-profile h3{
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  color: #00C4CF;
  padding-left: 18px;
  font-weight: 700;
}
.card-box-profile h4{
  font-family: 'Abhaya Libre', serif;
  font-size: 16px;
  color: #88898a;
  padding-left: 18px;
  font-weight: 400;
}
.card-box-profile p {
  font-family: 'Abhaya Libre', serif !important;
  padding-bottom: 0px;
  font-size: 15px !important;
  color: #868585 !important;
}
.card-box-profile i.fa-map-marker {
  color: #00C4CF !important;
}
.card-box-profile i.rating-star{
 color: #00C4CF;
}
.card-box-profile p.p-star {
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.card-box-profile .kafe-btn-mint-small,
.card-box-profile .kafe-btn-danger-small{
 width: 130px;	
}

.card-box-profile .bottom-sec {
  padding-top: 10px;
}
.card-box-profile .bottom-sec .kafe-btn-mint-small{
  margin-top: 10px;
}
.card-box-profile .bottom-sec h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  font-size: 12px !important;
  letter-spacing: 1px;
}
.card-box-profile .bottom-sec h5 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px !important;
  letter-spacing: 1px;
  color: #ff6c6c;
}
.card-box-profile .bottom-sec p {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
}


/* ------------------------------------------------------------------- */
/* Profile Details
---------------------------------------------------------------------- */
.profile-details{
  background: #f4f4f4;
  padding: 20px 0;
} 
.profile-details .card-box-profile-details {
 background-color: #fff;
 padding: 40px 30px 10px 30px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}

.description-profile {
    padding: 10px 10px;
}
.description-profile h3{
  font-family: 'Montserrat', sans-serif;	
  font-size: 20px;
  color: #3d464d;
}	
.description-profile ul li {
  font-family: 'Abhaya Libre', serif;		
  font-size: 15px;
  letter-spacing: 1px;
  color: #898b8c;
}
.description-profile p{
  font-family: 'Abhaya Libre', serif;		
  font-size: 18px;
  color: #898b8c;
}
.description-profile .tr-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.description-profile .resume-info > li {
    margin-bottom: 30px;
    position: relative;
}

.description-profile .resume-info .icon i,
.work .icon i{
    font-size: 30px;
    color: #00C4CF;
    margin-right: 10px;
}
.description-profile .tr-title,
.work .tr-title{
 font-family: 'Abhaya Libre', serif;	
 display: block;
 font-size: 18px;
 font-weight: 700;
 color: #2c3e50;
 margin-bottom: 20px;
}

.description-profile .personal-details li {
    margin-bottom: 10px;
}
.description-profile .personal-details .media-body ul > li > span {
    font-weight: normal;
}
.description-profile .label-success {
  font-family: 'Abhaya Libre', serif;
  background: #00C4CF !important; 
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff !important;
  letter-spacing: 1px;
}


.profile-details .stats {
 background-color: #fff;
 padding: 10px 30px 10px 30px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}
.stats .row{
 padding: 0px 5px!important;
 margin: 0px !important; 
}
.stats .row .col-sm-4{
 padding: 0px !important;
 margin: 0px !important; 
}
.stats h5 {
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #2c3e50;
 font-weight: 700;
}
.stats h5 small {
 margin-bottom: 0px !important;
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 font-weight: 700;
 text-transform: uppercase;
}
.stats h6 {
  margin-bottom: 0px !important;
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #00C4CF !important; 
}
.stats h6 a{
  margin-bottom: 0px !important;
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #00C4CF !important; 
}
.stats p.bottom {
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
  color: #898b8c !important;
  margin-bottom: 0px !important;
}
.stats .grey::before,
.stats .grey::after {
 display: inline-block;
 content: "";	
 width: 110px;
 border: 1px solid #8d969c;
 position: relative;
 top: -3px;
} 
.stats .grey {
 font-family: 'Abhaya Libre', serif;	
 color: #8d969c; 
 font-size: 18px;
 font-weight: 400;
 display: table;
 white-space: nowrap;
 height: auto;
 margin: '';
 line-height: 1;
 text-align: center;
 width: 100%;
 margin: 5px 0px;
}
.stats .col-p {
 margin-top: 10px;
}
.stats p.top {
 font-family: 'Abhaya Libre', serif;
 font-size: 18px !important;
 color: #88898a !important;
 margin-bottom: 0px !important;
 font-weight: 700;
 line-height: 0.8;
}
.stats p.middle {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px !important;
 color: #88898a !important;
 margin-bottom: 0px !important;
 font-weight: 400;
 line-height: 0.8;
}
.stats p.bottom-t {
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
  color: #898b8c !important;
  margin-bottom: 0px !important;
 line-height: 0.8;
}
@media only screen and (max-width: 768px){
	.stats .grey::before,
	.stats .grey::after {
	 display: inline-block;
	 content: "";	
	 width: 10px;
	 border: 1px solid #8d969c;
	 position: relative;
	 top: -3px;
	}
}


/* ------------------------------------------------------------------- */
/* Profile Details
---------------------------------------------------------------------- */ 
.feedback {
 background-color: #fff;
 padding: 40px 30px 10px 30px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}

.feedback-description {
    padding: 10px 10px;
}

.single-thread .small-hr {
  margin:8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}
.single-thread{
  padding: 10px 0 0px 0;
  border-top: 4px solid #e0e0e0;
}
.single-thread .top-sec {
  padding-top: 15px;
}
.single-thread .top-sec .col-lg-10{
  position: relative;
  left: -30px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.single-thread .top-sec img {
  width: 60px;
  height:60px;
  border-radius: 3px;
  
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.single-thread .top-sec img:hover,
.single-thread .top-sec img:focus {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.single-thread .top-sec h4 a{
  font-family: 'Abhaya Libre', serif;
  text-decoration: none;
  font-weight: 700;
  color: #2c3e50;
  letter-spacing: 0px;
}
.single-thread .top-sec h4 a:hover,
.single-thread .top-sec h4 a:focus{
  color: #868585 !important;
}
.single-thread .top-sec h5 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 500;
  color: #2c3e50;
  letter-spacing: 1px;
}
.single-thread .top-sec h5 a{
  text-decoration: none;
}
.single-thread .mid-sec {
  padding: 10px 0 5px 0;
}
.single-thread .mid-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
}
.single-thread .label-success {
  font-family: 'Abhaya Libre', serif;
  background: #00C4CF !important; 
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff !important;
  position: relative;
  top: -5px;
  text-transform: uppercase;
}
.single-thread i.rating-star{
 color: #00C4CF;
}

@media only screen and (max-width: 992px){
	.single-thread .top-sec .col-lg-10{
	  position: relative;
	  left: 0px;
	}	
}
@media only screen and (max-width: 768px){
	.single-thread .top-sec .col-lg-10{
	  position: relative;
	  left: 0px;
	}
}


/* ------------------------------------------------------------------- */
/* Portfolio
---------------------------------------------------------------------- */ 
.portfolio {
 background-color: #fff;
 padding: 40px 15px 10px 0px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
}
.portfolio .row{
 margin: 0px !important;	
 padding: 0px !important;	
}
.portfolio .row .col-lg-3{
 margin: 0px !important;	
 padding: 0px !important;	
}
.portfolio img{
 width: 400px !important;
 height: 200px !important; 
}


/* ------------------------------------------------------------------- */
/* Staff
---------------------------------------------------------------------- */ 
.staff img{
 width: 60px !important;
 height: 60px !important; 
}
.staff i.rating-star{
 font-size: 10px;	
 color: #00C4CF;
}
.staff a:hover{
 text-decoration: none;	
}

/* ------------------------------------------------------------------- */
/* Work
---------------------------------------------------------------------- */ 
.work {
 background-color: #fff;
 padding: 20px 10px 10px 10px;
 color: #272727;
 border-radius: 4px;
 margin-bottom: 30px;
 position: relative;
 overflow: hidden;
}

/*----------------------------------- */
/* Job Section
------------------------------------- */
.job .small-hr {
  margin:8px auto;
  border-bottom: 1px solid #FDFDFD;
  width: 100%;
}
.job:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-bottom: 4px solid #e0e0e0;
  padding-bottom: 10px;
}
.job{
  padding: 10px 0 0px 0;
}
.job:last-child {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-bottom: 4px solid #e0e0e;
  margin-bottom: 5px;
}
.job .top-sec {
  padding-top: 15px;
}
.job .top-sec h4 a{
 font-family: 'Abhaya Libre', serif;
 text-decoration: none;
 font-weight: 700;
 font-size: 18px;
 color: #00C4CF;
 line-height: 0;
}
.job .top-sec h4 a:hover,
.job .top-sec h4 a:focus{
  color: #019da5 !important;
}
.job .top-sec h5{
 font-family: 'Abhaya Libre', serif;
 font-weight: 700;
 color: #898b8c;
 font-size: 16px;
 line-height: 0;
}
.job .top-sec h6{
 font-family: 'Abhaya Libre', serif;
 font-weight: 400;
 color: #00C4CF;
 font-size: 14px;
 line-height: 0.8;
}
.job .top-sec p{
 font-family: 'Abhaya Libre', serif;
 font-weight: 400;
 color: #898b8c;
 font-size: 14px;
 line-height: 0.8;
}

.job .mid-sec {
  padding: 0px 0 5px 0;
}
.job .mid-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 16px;
  color: #868585 !important;
}
.job .mid-sec .label-success {
  font-family: 'Abhaya Libre', serif;
  background: #00C4CF !important; 
  margin-bottom: 5px;
  font-size: 13px;
  color: #fff !important;
  letter-spacing: 1px;
}


.job .bottom-sec img {
  width: 60px;
  height:60px;
  border-radius: 3px;
  margin-right: 10px;
  
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.job .bottom-sec img:hover,
.job .bottom-sec img:focus {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.job .bottom-sec h5 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 14px !important;
  line-height: 0.4;
}
.job .bottom-sec h5 a{
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 14px !important;
  line-height: 0.4;
}
.job .bottom-sec p {
  font-family: 'Abhaya Libre', serif;
  padding-bottom: 0px;
  font-size: 14px;
  color: #868585 !important;
  line-height: 0.8;
}
.job .bottom-sec p i{
 font-size: 10px;	
 color: #00C4CF;
}
.job .bottom-sec h4 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
  color: #00C4CF;
  font-size: 19px !important;
  line-height: 0.4;
}
@media only screen and (max-width: 768px){
	.job .bottom-sec .pull-right{
	 float: left !important;	
	 width: 100%;
	}
}

/* ------------------------------------------------------------------- */
/* Job Post
---------------------------------------------------------------------- */
.jobpost {
	border-bottom: 2px solid #F6F6F7;
	padding-top: 30px;
	padding-bottom: 20px;
	background: #f4f4f4;
}

/* ------------------------------------------------------------------- */
/* Pricing
---------------------------------------------------------------------- */
.pricing {
 padding-top: 30px;
 padding-bottom: 50px;
 background: #f4f4f4;
}
.pricing-plan .pricing-box {
 background-color: #fff;
 padding: 30px 20px;
 margin-bottom: 30px;
 text-align: center;
 border: 1px solid #eee;
 -webkit-transition: .3s ease-in-out;
 -o-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}
.pricing-plan .pricing-box h6 {
 font-family: 'Abhaya Libre', serif;
 text-transform: uppercase;
 color: #96a2b2;
 font-weight: 700;
 font-size: 14px;
}
.pricing-plan .pricing-box .price {
 font-family: 'Abhaya Libre', serif;
 font-weight: 700;
 font-size: 55px;
 line-height: 55px;
 color: #00C4CF !important;
 padding: 10px 0;
}
.pricing-plan .pricing-box .price sup {
 font-size: 28px;
 vertical-align: super;
}
.pricing-plan .pricing-box .price span {
 display: block;
 font-family: Montserrat,sans-serif;
 font-size: 12px;
 font-weight: 400;
 line-height: 25px;
 color: #96a2b2;
}
.pricing-plan .pricing-box p {
 font-family: 'Abhaya Libre', serif;
 color: #848484;
 font-size: 16px;
}
.pricing-plan .pricing-box p strong {
 color: #00C4CF;
}

/* ------------------------------------------------------------------- */
/* How Page
---------------------------------------------------------------------- */
.how-banner {
  background: url('../images/cover.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 30vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.how-banner h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 40px;
 color: #ffffff; 
}

/* ----------------  How section    --------------- */
.how {
 background: #ffffff;
 padding: 30px 5px;
}
.how i{
 color: #00C4CF !important;
 margin: 10px 0px;
}
.how h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 18px; 
 color: #848484 !important;
}










/* ------------------------------------------------------------------- */
/* Dashboard Details
---------------------------------------------------------------------- */
.dashboard {
 background: #f4f4f4;
 color: #272727;
 line-height: 22px;
}
.section-padding {
 padding: 80px 0;
}

/* ----------------  Sidebar    --------------- */

.sidebar-menu {
  list-style: none;
 padding: 20px 20px;
 overflow: hidden;
 background-color: #fff;
 margin-bottom: 30px;
 border-radius: 4px;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a:hover, 
.sidebar-menu > li > a:focus, 
.sidebar-menu > li > a{
 padding: 12px 5px 12px 15px;
 display: block;
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 text-decoration: none;
}
.sidebar-menu > li.menu-open {
 border-left: 2px solid #00C4CF !important;
}
.sidebar-menu > li.active {
 background: #00C4CF !important;
}
.sidebar-menu > li.active > a, 
.sidebar-menu > li.active > a:focus, 
.sidebar-menu > li.active > a:hover {
 color: #fff !important;
}

.sidebar-menu > li > a > .fa{
  width: 20px;
 font-size: 16px;
 color: #00C4CF;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
 margin-right: 5px;
 background: #00C4CF;
}

.sidebar-menu > li.active > a > .fa{
 color: #fff;
}
.sidebar-menu > li.active .label,
.sidebar-menu > li.active .badge {
 background: #fff;
 color: #00C4CF;
}

.sidebar-menu > li .badge {
  margin-top: 3px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
 color: #00C4CF;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
 color: #ffffff;
}
.sidebar-menu li > a > .fa-angle-left {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
}
.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu .treeview-menu {
  display: none;
}
.sidebar-menu .active > .treeview-menu {
  display: block;
}

/* ----------------  Treeview Menu    --------------- */
.treeview-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.treeview-menu > li > a:hover, 
.treeview-menu > li > a:focus, 
.treeview-menu > li > a {
 display: block;
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 text-decoration: none;
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
  width: 20px;
 font-size: 16px;
 color: #00C4CF;
}

.sidebar-menu li.active > ul.treeview-menu > li > a,
.sidebar-menu li.active > ul.treeview-menu > li > a:hover {
 color: #ffffff !important;
}
.sidebar-menu li.active > ul.treeview-menu > li > a > .fa{
 color: #ffffff;
}


/* ----------------  Dashboard Fun Fact    --------------- */

.dashboard-info .fun-fact {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.dashboard-info .fun-fact h1 {
  font-family: 'Montserrat', sans-serif;	
  font-size: 30px;
  color: #00C4CF;
  margin: 0;
}
.dashboard-info .fun-fact span {
  font-family: 'Abhaya Libre', serif;	
  margin: 0;
  font-size: 16px;
  color: #3d464d;
  margin: 0;
  display: block;
}
.dashboard-info .fun-fact a {
  font-family: 'Abhaya Libre', serif;	
  margin: 0;
  font-size: 16px;
  color: #00C4CF;
  margin: 0;
  display: block;
}

/* ----------------  Prop Info    --------------- */
.prop-info {
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.prop-info i{
  color: #00C4CF !important;
}
.prop-info h3{
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  color: #848484 !important;
}
.prop-info p{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #848484 !important;
}
.prop-info p a{
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  color: #00C4CF !important;
}

/* ----------------  Box   --------------- */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #00C4CF;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header .box-title {
    display: inline-block;
	font-family: 'Montserrat', sans-serif;	
	font-size: 18px;
	color: #3d464d;
    margin: 0;
    line-height: 1;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box .box-body tr th{	
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
}
.box .box-body td a{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #00C4CF !important;	
}
.box .box-body td a.kafe-btn{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #fff !important;	
}
.box .box-body td{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px; 
 color: #848484 !important;	
}
.box .box-body td img{
 padding-right: 5px;
}
.box .box-body td span.label-mint{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px !important;
 padding: 1px 10px;
 border-radius: 3px;
 font-weight: 400 !important; 
}
.box .box-body td i.fa{ 
 color: #00C4CF !important;	
}



/* ----------------  Pro Nav  --------------- */

.pro-nav {
 padding: 0px !important;
 background-color: #fff;
 border-radius: 4px;
 margin-bottom: 20px;
}
.pro-nav-tabs li {
 display: block;
 float: left;
 margin-bottom: -1px;
}
.pro-nav-tabs li a {
 padding: 10px 8px;
 margin-right: 2px;
 font-family: 'Abhaya Libre', serif;
 font-size: 14px;
 line-height: 1.42857143;
 border: 1px solid transparent;
 border-radius: 2px 2px 0 0;
 color: #00C4CF !important;	
}
.pro-nav-tabs li.active a {
 background: #00C4CF;	
 color: #ffffff !important;	
}


/* ----------------  Work Box  --------------- */
.work-box {
 background-color: #fff;
 padding: 0px 20px;
 color: #000;
 border-radius: 4px;
 margin-bottom: 30px;
 overflow: hidden;
}
.work-box .small-hr{
 margin-top: 0px !important;	
 margin-bottom: 5px !important;	
}
.work-box .top-sec h3{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 padding-left: 18px;
 font-weight: 700;
 line-height: 1;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
}
.work-box .top-sec h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 0.8;
}
.work-box .top-sec p{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 1;
}

.work-box .middle-sec{
 margin-bottom: 5px;
}
.work-box .middle-sec img{
 float: left;
 width: 70px;
 height: 70px;
 margin-right: 15px;
}
.work-box .middle-sec h3{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 font-weight: 700;
 line-height: 0;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 margin-top: 5px !important;
}
.work-box .middle-sec h3 a{
 font-family: 'Abhaya Libre', serif;
 font-size: 15px;
 color: #00C4CF;
 font-weight: 700;
 line-height: 1;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 margin: 0px !important;
}
.work-box .middle-sec h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 padding-left: 18px;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 0.8;
}
.work-box .middle-sec h4 .label-mint{
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #88898a;
 font-weight: 400;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
 line-height: 1;
}


.work-box .bottom-sec {
 padding-top: 10px;
}
.work-box .bottom-sec .kafe-btn-mint-small{
 margin-top: 10px;
}
.work-box .bottom-sec h5 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
 color: #00C4CF  !important;
 font-size: 12px !important;
 letter-spacing: 1px;
 line-height: 0;
}
.work-box .bottom-sec p {
 font-family: 'Abhaya Libre', serif;
 padding-bottom: 0px;
 font-size: 14px;
 color: #848484;
}
@media only screen and (max-width: 768px){
	.work-box .middle-sec {
	 margin-bottom: 10px !important;
	}	
	.work-box .bottom-sec {
	 margin-top: 0px;
	}
	.work-box .bottom-sec .pull-right {
	 float: left !important;
	}	
}

/* ==========================================================================
   Messages Page
   ========================================================================== */
.chat{
  background: #f4f4f4;	
  padding: 80px 0px 150px 0px;
}
.messages-box {
 float: left;
 width: 100%;
}
.no-pdd {
 padding: 0px !important;
}
.messages-container {
 float: left;
 width: 100%;
 background-color: #fff;
 border-left: 1px solid #e4e4e4;
 border-bottom: 1px solid #e4e4e4;
 border-right: 1px solid #e4e4e4;
}
.message-header {
 float: left;
 width: 100%;
 padding: 0px !important;
}
.message-title{
 padding: 0px 20px;
 border-bottom: 2px solid #f4f4f4;
}
.message-title h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #88898a;
 font-weight: 700;
}
.search-area {
 padding: 10px 20px 20px 20px;
}
.search-area .input-field {
 background: #f4f4f4;
 margin: 0;
 border-radius: 4px;
 overflow: hidden;
 padding: 0 20px;
 position: relative;
}
.search-area .input-field input {
 font-family: 'Abhaya Libre', serif;
 width: 80%; 
 margin: 0;
 border: 0;
 background: #f4f4f4;
 color: #848484 !important;
 padding: 10px 0px;
}
.search-area .input-field i {
 font-size: 18px;
 color: #848484 !important;
 float: right;
 position: relative;
 top: 10px;
 cursor: pointer;
}


.messages-list {
 float: left;
 width: 100%;
 padding: 0px !important;
}
.messages-list ul {
 float: left;
 width: 100%;
 padding: 0px !important;
 height: 700px !important;
 overflow-y: scroll;	
}
.messages-list ul li.active {
 background-color: #efefef;
}
.messages-list ul li {
 float: left;
 width: 100%;
 padding: 10px 10px 10px 20px;
 border-bottom: 2px solid #f4f4f4;
 cursor: pointer;
}
.messages-list ul li:last-child {
 border-bottom: none;
}


.user-message-details {
 float: left;
 position: relative;
 width: 100%;
}
.user-message-img {
 float: left;
 width: 40px;
 height: 40px;
 position: relative;
 top: 6px;
}
.user-message img {
 width: 100%;
}
.user-online {
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 background-color: #00C4CF;
 position: absolute;
 top: -3px;
 right: 0;
 width: 6px;
 height: 6px;
}
.user-message-info {
 position: relative;
 top: 0px;
 float: left;
 padding-left: 13px;
}
.user-message-info h4 {
 font-family: 'Abhaya Libre', serif;	
 color: #88898a;
 font-size: 16px;
 font-weight: 700;
 line-height: 0;
}
.user-message-info p {
 font-family: 'Abhaya Libre', serif;	
 color: #848484;
 font-size: 14px;
 padding-bottom: 0px !important;
 margin-bottom: 0px !important;
}
.user-message-info span {
 font-family: 'Abhaya Libre', serif;
 color: #aaa;
 font-size: 13px;
 line-height: 0;
}
.message-notification {
 position: absolute;
 top: 2px;
 right: 0;
 width: 25px;
 height: 25px;
 
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 border-radius: 100px;
 
 background-color: #00C4CF;
 text-align: center;
 line-height: 25px;
 font-family: 'Abhaya Libre', serif;
 font-size: 13px;
 color: #fff;
}


.pd-right-none {
 padding-right: 0;
}
.pd-left-none {
 padding-left: 0;
}
.conversation-box {
 float: left;
 width: 100%;
 background-color: #fff;
 position: relative;
 border-right: 1px solid #e4e4e4;
 border-bottom: 1px solid #e4e4e4;
}
.conversation-header {
 float: left;
 width: 100%;
 background-color: rgba(255,255,255,0.95);
 padding: 10px 0px 5px 20px;
 border-bottom: 1px solid #eaeaea;
 z-index: 0;
}


.conversation-container {
 float: left;
 width: 100%;
 height: 670px;
 overflow-y: scroll;
 padding: 20px 0px; 
}
.convo-box {
 float: left;
 width: 100%;
 position: relative;
 margin-bottom: 15.5px;
}
.convo-box.pull-right .convo-area {
 padding-left: 0;
 padding-right: 85px;
}
.convo-area {
 float: left;
 width: auto;
 padding-left: 85px;
}
.convo-message {
 float: left;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
 border-radius: 15px;
 width: 100%;
}
.convo-message > p {
 float: right;
 width: 60%;
 background-color: #00C4CF;
 font-family: 'Abhaya Libre', serif;	
 color: #848484;
 font-size: 15px;
 line-height: 22px;
 padding: 10px 35px 10px 35px;
 color: #fff;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px;
 -o-border-radius: 15px;
 border-radius: 15px;
}
.convo-box.pull-right .convo-area > span {
 float: right;
 width: auto;
}
.convo-area > span {
 color: #b2b2b2;
 font-family: 'Abhaya Libre', serif;	
 color: #aaa;
 font-size: 13px;
 float: left;
 width: 100%;
 margin-top: 7px;
}
.convo-box.pull-right .convo-img {
 left: auto;
 right: 20px;
 bottom: 25px;
}
.convo-img {
 position: absolute;
 bottom: 25px;
 left: 20px;
 width: 50px;
}

.convo-area.convo-left .convo-message > p {
 background-color: #f4f4f4;
 color: #686868;
 width: auto;
 padding: 10px 15px;
 float: left;
}
.convo-box.convo-left .convo-img {
 bottom: 13px;
}


.type_messages {
 border-top: 2px solid #f2f6f8;
 display: block;
 overflow: hidden;
 margin-bottom: 0px;
 padding: 8px 20px 5px 20px;
}
.type_messages .input-field {
 position: relative;
 margin: 0;
}
.type_messages .input-field textarea {
 font-family: 'Abhaya Libre', serif;	
 font-size: 20px;
 margin: 0;
 outline: none;
 resize: none;
 border: 0;
 box-shadow: none;
 color: #aaa;
 width: 80%;
}
.type_messages .input-field .imoji {
 position: absolute;
 top: 2px;
 right: 0;
}
.type_messages .input-field .imoji li {
 display: inline-block;
 padding-left: 17px;
}
.type_messages .input-field .imoji li a {
 font-family: 'Abhaya Libre', serif;	
 font-size: 20px;
 color: #fff;
}


.message-send-area {
    float: left;
    width: 100%;
    background-color: #f3f5f7;
    padding: 25px 20px 15px 20px;
    border: 1px solid #eeeeee;
}
.message-send-area form {
    float: left;
    width: 100%;
}
.mf-field {
    float: left;
    width: 100%;
}
.mf-field input {
    float: left;
    width: 80%;
    background-color: #fff;
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    height: 45px;
}
.mf-field button {
    float: left;
    width: 17%;
    background-color: #e44d3a;
    height: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: 0;
    margin-left: 15px;
    cursor: pointer;
}
.message-send-area form > ul {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.message-send-area form > ul li {
    display: inline-block;
    margin-right: 20px;
}
.message-send-area form > ul li a {
    color: #b2b2b2;
    font-size: 18px;
}

/* ==========================================================================
   Media Queries for Chat Page
   ========================================================================== */
   
/* Desktop */
@media (max-width: 1024px){
}

@media (max-width: 992px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

/* Tablets */
@media (max-width: 800px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}
}

@media (max-width: 768px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

/* Mobile phones */
@media (max-width: 600px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

@media (max-width: 548px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

@media (max-width: 480px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}
}

@media (max-width: 320px){
	.messages-box .col-lg-4{
	  padding: 0px 40px !important;	
	}	
	.messages-box .col-lg-8{
	  padding: 0px 40px !important;	
	}	
}

/* ----------------  Button Box    --------------- */
.button-box {
 padding: 10px 20px;
 background-color: #fff;
 border-radius: 4px;
 color: #a0a0a0;
 font-size: 14px;
 line-height: 17px;
 margin-bottom: 20px;
}


/* ----------------  Modal    --------------- */
.modal .modal-header{
 padding: 9px 10px !important; 	
}
.modal .modal-header .modal-title{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 color: #00C4CF !important; 
}
.modal .modal-header button{
 color: #00C4CF !important; 
}
.modal .modal-body label{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #00C4CF !important; 
}
.modal .modal-body .form-control{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #848484 !important; 
}
 .modal .modal-body .form-control:focus {
  border: 1px solid #00C4CF;
}
.modal .modal-body .field_notice{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #848484 !important; 
}

/* ----------------  Rate Box    --------------- */
.rate-box {
 padding: 10px 20px;
 background-color: #fff;
 border-radius: 4px;
 color: #a0a0a0;
 line-height: 17px;
 margin-bottom: 20px;
}
.rate-box i.rating-star{
 color: #00C4CF;
 font-size: 16px;
}
.rate-box p.p-star {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.rate-box h4 {
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #898b8c !important;
 line-height: 0 !important;
}
.rate-box label{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #898b8c !important;
 font-weight: 400 !important;
}
.rate-box .form-control{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #848484 !important; 
}
.rate-box .form-control:focus {
  border: 1px solid #00C4CF;
}

/* ----------------  Job Box    --------------- */
.job-box {
 padding: 20px 20px;
 background-color: #fff;
 border-radius: 4px;
 color: #a0a0a0;
 line-height: 17px;
 margin-bottom: 20px;
}
.job-box .job-header{ 
 margin-bottom: 20px;
}
.job-box .job-header h4{
 font-family: 'Abhaya Libre', serif;
 font-size: 20px;
 font-weight: 700;
 color: #848484 !important; 
}
.job-box .form-group{
 margin-bottom: 35px;
}
.job-box label{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #00C4CF !important;
 font-weight: 400 !important;
}
.job-box .col-lg-6{
 margin: 0px !important;	
 padding-left: 0px !important;	
}
.job-box .col-lg-6.job-sec{
 margin: 0px !important;	
 padding-right: 0px !important;	
}
.job-box .form-control{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 color: #848484 !important; 
}
.job-box .form-control:focus {
  border: 1px solid #00C4CF;
}
.job-box p{
 margin-top: 10px;	
}
.job-box p a{
 margin: 10px;	
}
.job-box p a.unselected{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 font-weight: 400 !important;
 color: #848484;
 padding: 5px;
 border-radius: 3px;
 background: #f4f4f4 !important;
}
.job-box p a.selected{
 font-family: 'Abhaya Libre', serif;
 font-size: 16px;
 background: #00C4CF !important;
 font-weight: 400 !important;
 color: #ffffff;
 padding: 5px;
 border-radius: 3px;
}
.job-box p a.unselected:hover{
 text-decoration: none !important;
 color: #848484 !important;
}
.job-box p a.selected:hover{
 text-decoration: none !important;
 color: #ffffff !important;
}
@media (max-width: 768px){
	.job-box .col-lg-6{
	 margin: 0px !important;	
	 padding-right: 0px !important;	
	}	
	.job-box p{
     line-height: 2.4 !important;		
	}	
}
/* ----------------  Profile Image   --------------- */

.change-photo {
    margin-bottom: 5px;
    overflow: hidden;
}
.change-photo .user-image {
    float: left;
    margin: 0 20px 0 0;
    border: none;
}
.change-photo .user-image{
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 30px;
}
.change-photo .user-image img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.change-photo .upload-photo {
    margin-top: 45px;
}
.change-photo .upload-photo .btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 20px 5px;
    border-radius: 30px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.change-photo .upload-photo input {
    display: none;
}